[2015-04-27 12:16] neiljerram commented on #445
I believe this will become practically important when we start allowing a workload to send from any of its IP addresses through any of its endpoint ports - but for now that is still work in progress.  Hence moving this out to 1.0.

[2015-04-27 12:19] neiljerram commented on #444
@Lukasa Do you have time in plan for this, this sprint?  I'm not saying you should do; just asking...  Do you have an estimate for how much time it would take?

[2015-04-27 12:20] neiljerram commented on #439
Deferring further, for same reason as previous deferral.

[2015-04-27 12:23] neiljerram commented on #424
Does it actually make any sense to match on ICMP code but not type?  From http://www.nthelp.com/icmp.html it looks clear to me that the answer to that is no.  Hence deferring this to 1.0 - but in fact might not even be important for MVP.

[2015-04-27 12:24] neiljerram commented on #422
@plwhite Can you look at covering this in your config file work?

[2015-04-27 12:27] neiljerram commented on #419
Deferring to 1.0, but I think we should actually close this until we have a reason to move to >= 1.8.  Any objections to that?

[2015-04-27 12:34] neiljerram commented on #402
@plwhite - I think this is part of your config file work, too.  (Sorry!)

[2015-04-27 12:38] neiljerram commented on #363
This is being tackled for 0.18, but that won't be possible if lots of further stuff gets dumped into here, so please no more of that.  Put any new spammy log reports into new issues.

[2015-04-27 12:47] neiljerram commented on #350
Sounds like we can get this into 0.18, but someone needs to step up and own retesting and making sure that any non-Calico-repo bits are also in place.  @Symmetric can you do that?

[2015-04-27 12:53] neiljerram commented on #329
@plwhite Would you like to include this in your config work too?  It's not strictly the same, so I'd equally be happy not to do that (and then probably leave it until after 0.18).  What do you think?

[2015-04-27 12:57] neiljerram commented on #461
@plwhite Agree that this needs to be in 0.18.  Do you have any space for it?

[2015-04-27 13:11] Lukasa commented on #458
Please don't do that. If an exception is an indication of normal flow (e.g. nothing is inherently wrong), don't log the traceback.

Put another way, logging a traceback at any level lower than WARNING is *definitely* wrong, and doing it at any level lower than ERROR is *probably* wrong.

Tracebacks stand out very clearly in logs, and so we should only attract attention to them if they're almost ce

[2015-04-27 13:13] Lukasa commented on #444
I do not have time in plan for this.

Approx 3/4 of a day, I suspect.

[2015-04-27 13:24] neiljerram commented on #444
Thanks, @Lukasa.  I'll defer this to 1.0, then, until/unless we have a clearer reason for needing something in a more recent etcd release.

[2015-04-27 13:32] neiljerram commented on #458
Sorry, I wasn't clear.  By 'handling it' above, I just meant 'preventing the thread from silently dying' - and hence that perhaps there isn't a strong reason for adding _another_ log to say "it's OK, the periodic resyncs will continue'.  Clearly, this isn't 'handling it' in the sense of actually understanding what it means :-)

As soon as I understand what "No more machines in the cluster" really

[2015-04-27 15:36] lwr20 opened #462 "Default route gets created to an ns-* device"
When setting up a pure L3-routed system (i.e. compute hosts connected directly to routers), we found we needed to set up a default route for the VM networks to avoid AS puddling.  However, it seems that a default route already exists to an ns-* device.

Deleting that default route and adding a new one via the correct interface worked round the problem for me, but obviously this won't survive reboo

[2015-04-27 15:54] nbartos commented on #458
My opinion is that tracebacks should definitely be used in all unexpected error cases, but only in unexpected error cases (or the rare case when it's an expected error but you need a stack trace).  In expected error cases, the tracebacks should be replaced with an appropriate log message.

For example, it seems icky to have a traceback in the case of a database disconnect, when the code handles th

[2015-04-27 16:00] lxpollitt commented on #445
Will this change mean that any workload data already in etcd would need migrating?  If so then we either need to fix before our first customer goes GA or we need to commit to writing code to handle the upgrades.  My guess is we should therefore fix this for 0.18.  @neiljerram please confirm.

[2015-04-27 16:02] ed-harrison commented on #458
+1

[2015-04-27 16:14] plwhite commented on #407
I have a fix for this in branch issue407config - but it breaks a couple of UTs, so I'll have to wrap it up tomorrow.

[2015-04-27 18:19] Symmetric commented on #459
@neiljerram noted. Not sure if I'll get to it by then (I have a high priority demo that I'm working on), but I'll keep you updated.

[2015-04-27 18:54] Symmetric commented on #350
@fasaxc there were bird config changes required, and those are on master of calico-docker (as of last week).

@neiljerram I'm heads-down on the Kubernetes demo for CoreOS fest, so I might not have bandwidth for testing in the next couple days.

Could be a good rampup task for @alexaltair or @robbrockbank; will keep you posted.

[2015-04-27 19:12] fasaxc commented on #454
etcd ram disk mount point is different to the directory we give to etcd itself

[2015-04-27 19:12] fasaxc commented on #454
cluster ID needs to be different on each start of etcd

[2015-04-28 01:11] robbrockbank opened #465 "Unable to delete a security group from an OpenStack guest VM"
I'm performing some fast "toggling" of a security group from on a VM - whereby I'm quickly adding and removing a security group from a VM.  I'm using the NovaClient to do this.

At some point I hit an exception in the NovaClient attempting to remove the security group from the VM.  This error in the client coincides with exceptions raised in the neutron server logs in the calico plugin code.

Deta

[2015-04-28 02:55] fasaxc commented on #462
One of our active lab trials needs a persistent solution to this one.  I think we need to solve it soon.

[2015-04-28 02:57] fasaxc commented on #462
@neiljerram please can you triage this to the right person?  I think the ns-* interface comes from the DHCP agent.

[2015-04-28 03:03] fasaxc commented on #454
@Lukasa it was your typical Horizon "red balloon".  Absolutely no detail whatsoever!

[2015-04-28 03:09] fasaxc opened #466 "Default BIRD filter is foot-shootingly broad"
Our default BIRD export filter is to export anything but 0.0.0.0/0.  That means that we export, for example, the routes assigned to the ns-* device that dnsmasq uses.

At the customer trial today, we got bitten by this: they were using a shared subnet for the IP pool and for VM addresses.  When we turned on BIRD, it redistributed the ns-* route and broke networking.

It'd be much safer, in OpenSta

[2015-04-28 03:12] fasaxc commented on #454
Neutron network gateway needs to be distinct from real gateway => use distinct compute host and VM IP ranges even in testing.  When defining the IP pool networks and subnets, the docs say "gateway" without qualification.  It's not clear whether that's the upstream gateway or a made-up virtual gateway.  We accidentally re-used the real physical gateway address for the subnet and that ended up shado

[2015-04-28 03:13] fasaxc commented on #454
Need to tell people to turn off any other networking agents they're running.  for example, the Linux bridge agent.

[2015-04-28 03:13] fasaxc commented on #454
We use servicectl to disable services, how does this interact with the nova agent add/delete commands?

[2015-04-28 03:17] fasaxc opened #467 "Should OUTPUT chain link to felix-TO-ENDPOINT?"
I think we only add rules to the INPUT and FORWARD chains right now.  That leaves the compute node able to ping/access the workloads that it hosts.  Obviously, the compute node is privileged but I'm wondering if it will create some uncertainty, "why can I access the VM from this node but not that one?".

[2015-04-28 03:21] fasaxc opened #468 "SSH security group rule not supported"
With a customer today, we tried to create an "Allow SSH" rule through Horizon on juno.  A custom TCP rule matching on port 22 worked fine, however, trying to use the dedicated SSH rule type was rejected.  The log file said "plugin did not support that operation" or something similar. I'm not clear if Calico was rejecting it or if it never got to us.

Assigning to Neil for triage.

[2015-04-28 03:22] fasaxc commented on #467
Assigning to Cory for opinion/history behind any previous design decisions here.

[2015-04-28 07:39] Lukasa commented on #467
So, this has been a known wart for a long time. It originally happened because we were piggybacking on OpenStack's rule setup, which doesn't set up filter rules in the OUTPUT chain (because why would it?). We then left it in place, mostly because it provides a really useful debugging aid.

If we did this, we'd have a minor security increase: programs running without CAP_NET_ADMIN would be unable t

[2015-04-28 07:40] Lukasa commented on #466
Based on some email trails I've seen, @liljenstolpe is actually the one planning to take a swing at this.

[2015-04-28 07:41] Lukasa commented on #465
In the absence of other priority information, assigning this to 0.19 and @neiljerram for initial triage.

[2015-04-28 07:43] Lukasa commented on #462
The route exists because the dummy interface is created with a given IP address and subnet. The Linux kernel therefore assumes it can reach that subnet out that interface, so it also creates the route.

At this point in time I don't know of any way to prevent that route creation event from occurring.

[2015-04-28 07:59] lwr20 commented on #462
I'm assuming its us creating the interface, yes?  If so, do we ever need the route?  And if not, can we add code just after the creation to delete the route?

[2015-04-28 08:19] neiljerram commented on #462
No, we certainly never ever need this route.

[2015-04-28 08:25] neiljerram commented on #462
By the way @fasaxc I'm pretty sure that the right person for this is me.  Will discuss prioritizing this in this morning's scrum.

[2015-04-28 08:37] neiljerram commented on #468
Interesting.  FWIW, I just tried creating an 'SSH' rule and a 'TCP port 22' rule in one our of rigs, and they both end up looking the same in that rig's Horizon UI. But clearly this needs a closer look than that.

[2015-04-28 08:43] neiljerram commented on #454
@fasaxc What was the way that you used - successfully - to 'turn off' the Linux bridge agent?

[2015-04-28 09:00] neiljerram commented on #454
@DaveLangridge @plwhite - Regarding the fact that felix.cfg is currently required in order for Felix to start up...

- Firstly, sorry for missing this for the 0.17 release.  I noticed that diff in the docs between 0.16 and 0.17 (i.e. removing that step from the RHEL install docs) but thought it was OK - because I had forgotten that the startup scripts required it, and because of the following poin

[2015-04-28 09:15] DaveLangridge commented on #454
If felix only reads the file if it's there, and doesn't barf if it isn't, then removing the copy is fine. As long as we get to start felix somewhere.

[2015-04-28 09:15] Lukasa commented on #462
@lwr20 The neutron-dhcp-agent creates the route, not us.

I'm also not quite so sure about this 'never ever' stuff. I believe that some DHCP actions (e.g. renewal) are unicast to the DHCP router's IP address. I'm not entirely familiar with dnsmasq's code, but it'd be good to know whether or not that's a problem.

[2015-04-28 09:54] neiljerram opened #470 "EtcdException: Unable to decode server response"
In the Neutron server log, on the controller node in an OpenStack/Calico cluster:

    2015-04-27 21:38:06.988 25929 ERROR calico.openstack.mech_calico [-] Exception in periodic resync thread
    2015-04-27 21:38:06.988 25929 TRACE calico.openstack.mech_calico Traceback (most recent call last):
    2015-04-27 21:38:06.988 25929 TRACE calico.openstack.mech_calico   File "/usr/lib/python2.7/dist-pac

[2015-04-28 09:57] neiljerram commented on #470
This is an exception that can be caused by transient connection errors to the etcd cluster.  The system (specifically Neutron server and the Calico mechanism driver) handles and recovers from it and runs correctly afterwards without requiring a restart.  Therefore we don't plan any change to 'fix' this.

[2015-04-28 09:57] #470 closed

[2015-04-28 09:59] lwr20 commented on #470
If you see this continuously, investigate the network conditions between the host you see this on and the etcd cluster.

[2015-04-28 10:04] neiljerram commented on #468
I just tried this again on a rig running Neutron 2014.2.2, and it definitely worked.  Here's an excerpt from Felix's log showing that the 'SSH' rule has reached Felix and is being programmed into iptables:

    2015-04-28 09:45:20,220 [INFO][12331/11] calico.felix.ipsets 145: Tags for profile 08c1346b-09d4-468e-a077-0812a7bb8eac updated
    2015-04-28 09:45:20,318 [INFO][12331/5] calico.felix.fipt

[2015-04-28 10:37] neiljerram commented on #468
@fasaxc There is a local configuration file, probably at /etc/openstack-dashboard/local_settings.py, that determines how a rule such as 'SSH' is mapped to protocol and port fields.  Specifically it's the SECURITY_GROUP_RULES value, in that file.  Would it be possible for your customer to provide that file to us (or the SECURITY_GROUP_RULES part of it)?

In my rig, where the 'SSH' rule works, the s

[2015-04-28 11:30] neiljerram commented on #462
After checking the DHCP agent code and logs, I can confirm that the route is created automatically by the kernel, when the interface is created and given an address, and not by any explicit 'ip route' command.  This is also borne out by the 'proto kernel' in the 'ip route' output; 'proto kernel' means 'route installed by the kernel'.

So, can we prevent Linux from doing that?  I've looked at sysct

[2015-04-28 14:13] fasaxc commented on #444
2.0.0 is definitely broken for recursive watches, which is exactly what we do.  The symptom is felix fails to get updates, which makes Calico look unreliable.  I think we need to rev to at least 2.0.9 or change the install instructions to use the tarball for now.

[2015-04-28 14:15] fasaxc commented on #424
I think that's fine.  It does make no sense; but that doesn't mean no-one will do it!

[2015-04-28 14:24] Lukasa commented on #444
@fasaxc And we've verified that 2.0.9 does not have this problem?

[2015-04-28 14:30] matthewdupre commented on #455
The installed python-gevent can be upgraded to a suitable version by running `yum install python-pip`, `pip install gevent --upgrade`.  Felix then proceeds further before hitting the same bug as the plugin.

[2015-04-28 14:33] matthewdupre commented on #455
The immediate plugin (and Felix, given a suitable gevent) problem is a bug in python-etcd - __init__.py:handle references the undefined payload if the .format() fails.

This hides an underlying issue though - when a read is issued for a non-existent key, an `etcd.EtcdException: Unable to decode server response` exception is emitted.

[2015-04-28 15:37] matthewdupre commented on #455
The python-etcd issue is caused by it not properly supporting python 2.6.  See https://github.com/Metaswitch/python-etcd/issues/4.

[2015-04-28 15:37] matthewdupre commented on #455
EL6 comes with ipset v6.11, which doesn't support -file (EL7 uses v6.19).

`FailedSystemCall: Failed system call (retcode : 2, args : ('ipset', 'restore', '-file', '/tmp/tmplxoZzh'))
  stdout  :
  stderr  : ipset v6.11: Unknown argument -file`

[2015-04-28 15:48] matthewdupre commented on #455
The ipset issue can be resolved by installing v6.19 by running `rpm -Uvh` on the 2 rpms linked below:

http://rpm.pbone.net/index.php3/stat/4/idpl/23986399/dir/redhat_el_6/com/libipset3-6.19-32.1.x86_64.rpm.html
http://rpm.pbone.net/index.php3/stat/4/idpl/23986390/dir/redhat_el_6/com/ipset-6.19-32.1.x86_64.rpm.html

[2015-04-28 15:49] matthewdupre commented on #455
There's also an iptables issue (this is a regression from zmq Felix) - v1.4.7 (installed) doesn't support --wait.  The right thing to do is probably just not pass it.

[2015-04-28 15:59] matthewdupre commented on #455
Removing the --wait flag from the (single) call that uses it fixes this - ipsets are programmed and everything seems shiny.

[2015-04-28 16:09] neiljerram commented on #455
IIRC, --wait is needed to allow multiple (green) threads to (successfully) program iptables at the same time.

[2015-04-28 16:24] matthewdupre commented on #455
There was a lot of discussion about this at the time, involving it not doing quite what it suggested anyway, I suggest finding the older issues.

[2015-04-28 16:27] neiljerram commented on #455
So why was --wait still there then?

But I don't want to be a pain here, because this isn't something that I've paid close attention to.  Just trying to flag something in case it was important and had been forgotten...

[2015-04-28 18:27] matthewdupre commented on #454
I'd be happy with anything that removed the manual install step (it was only reinstated as a temporary fix anyway).

I'd probably prefer changing the packages to install felix.cfg directly (not as .example) - it'll work in most cases, so there's no need to push people away, and I think that (in the rare case it's needed) it'll be easier for people to edit if it's already there.  No str

[2015-04-28 23:14] fasaxc opened #477 "Support multiple instances of the Neutron plugin for HA"
One of our customers wants to roll out multiple plugins for HA purposes (at a scale of ~140 physical servers in the cluster with ~6 control nodes).  I think we need to expedite basic HA support to support that.

It's not essential to have full linear scaling, we just need to support running multiple plugins without multiplying the number of periodic resyncs or clobbering each other's updates.  Tha

[2015-04-29 00:30] fasaxc opened #478 "When using etcd as a transient store need to give it a new cluster ID each time"
Our install guide puts etcd in a ramdisk but we set the initial-cluster-token only at install time.  This is wrong because, each time etcd gets rebuilt in the ramdisk, it will use the same token but it will start with a  fresh etcd index.  That will break felix's watches if it all happens between felix polls.  That's a small window to hit but we should close it.

I've investigated how to do this o

[2015-04-29 02:28] fasaxc commented on #454
@neiljerram I'm not sure how the Salesforce folks turned off the bridged agent.  The command went by too fast.  I think they were using some nova commands to delete the agent but I'm not sure if they also disabled it in systemd, for example.

[2015-04-29 02:29] fasaxc commented on #454
@neiljerram I'm not sure, the customer made that change.  I saw them run a nova command that deleted the agent but I'm not sure if they also ran a systemd command to disable it.

[2015-04-29 02:31] fasaxc commented on #478
Addressed by PR #479.

[2015-04-29 07:58] Lukasa commented on #477
To clarify, this almost certainly requires two of those three: probably retaking the neutron DB lock and leader-election.

[2015-04-29 08:03] Lukasa commented on #478
Actually this is only partially addressed by #479, because #479 does nothing for Ubuntu.

[2015-04-29 08:03] Lukasa commented on #478
Nor does it do anything for RHEL 6.5.

[2015-04-29 10:11] lwr20 opened #480 "Felix crash: NameError: global name 'StringTypes' is not defined"
Spotted by the CI rig.

Full stacktrace:
2015-04-29 11:09:31,195 [ERROR][24174/3] calico.felix.actor 234: Exception processing 8561fb60eb46 (watch_etcd)
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/calico/felix/actor.py", line 232, in _step
    result = msg.method()
  File "/usr/lib/python2.7/dist-packages/calico/felix/fetcd.py", line 159, in watch_etcd
    endpoint_

[2015-04-29 10:13] matthewdupre commented on #480
common.py doesn't import this.

[2015-04-29 11:02] plwhite commented on #460
Actually, I think the right approach here is that for IDs containing any invalid characters, we should just hash them using the uniquely_shorten function (which would then need to be renamed).

[2015-04-29 14:07] fasaxc commented on #478
Yes, sorry, not my clearest comment ever; had the blinkers on.

[2015-04-29 14:37] Lukasa opened #482 "MySQL errors from mech calico"
When I start neutron-server, I see the following logs almost immediately from mech_calico:

[code]

If I then attempt to create a VM, everything dies in a fire:

[code]

[2015-04-29 15:49] plwhite commented on #422
My fix just means that if you have a config file turning down log levels, or use the env variable FELIX_LOGSEVERITYSCREEN to critical, then there is no logging to screen.

[2015-04-29 15:53] #480 closed

[2015-04-29 16:47] lwr20 opened #486 "FV failure"
Felix.log says:

2015-04-29 16:57:19,968 [ERROR][20551/3] calico.felix.actor 234: Exception processing 36889712139b (watch_etcd)
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/calico/felix/actor.py", line 232, in _step
    result = msg.method()
  File "/usr/lib/python2.7/dist-packages/calico/felix/fetcd.py", line 158, in watch_etcd
    endpoint_id, endpoint = parse_if_

[2015-04-29 16:48] Lukasa commented on #486
See #487.

[2015-04-29 16:50] #486 closed

[2015-04-29 16:53] liljenstolpe commented on #466
I will have a simple fix in today.  We need to think about a cleaner fix, but it probably needs new config-file gen script variables.  When do we want to to discuss that?

[2015-04-29 18:12] fasaxc opened #489 "KeyError in plugin while trying to create VMs during FV run"
The bobcat's FV rig reported this error:

[code]

which coincided with this stack trace in the neutron server.log (note: the logs are in different timezones):

[code]

The full log is at http://calicobobcat-jenkins.gulfstream:8080/job/fv-tests/767/console

[2015-04-29 18:16] fasaxc commented on #489
@neiljerram I don't think it's efficient for me to look into this one, please can you dig into it tomorrow?  I'll send you the full log file.

[2015-04-29 19:11] robbrockbank commented on #489
Looks related to #465
https://github.com/Metaswitch/calico/issues/465

[2015-04-29 19:25] lxpollitt commented on #460
I vote for just not allowing invalid characters.  Anything else feels like solving a problem we don't yet have.

[2015-04-29 19:38] liljenstolpe commented on #466
Pull request issued to close

[2015-04-29 19:42] Lukasa commented on #489
It's also related to #482, which sees a similar traceback.

[2015-04-30 00:41] fasaxc commented on #482
@Lukasa  Why is this against 0.19?  "Plugin dies" seems serious!

[2015-04-30 00:43] fasaxc commented on #466
@liljenstolpe have you given this any testing?

[2015-04-30 01:17] fasaxc commented on #12
@neiljerram did this get resolved?

[2015-04-30 01:39] fasaxc commented on #120
Added a work-in-progress monotonic-time branch.

[2015-04-30 01:40] fasaxc commented on #325
Added a work-in-progress monotonic-time branch.  (Just a quick copy/paste from stack overflow.)

[2015-04-30 01:45] fasaxc commented on #363
I believe these are all addressed by #492.

[2015-04-30 01:46] #363 closed

[2015-04-30 01:46] #422 closed

[2015-04-30 01:47] #407 closed

[2015-04-30 01:48] fasaxc commented on #461
Is there anything left to fix here?  I think I fixed the underlying issue so we shouldn't hit this case any more (and if we do, we want an error).

[2015-04-30 06:09] Lukasa commented on #482
The main reason is that I don't know the actual severity of this bug, but I doubt the fix is totally trivial. It's also not clear that it's our fault, as per the note about MySQL above. However, if it is our fault, diagnosing it is probably going to be a bit tricky.

[2015-04-30 08:13] neiljerram commented on #12
Sorry, no, not yet.

[2015-04-30 09:56] ed-harrison commented on #482
I think this does look serious (not least as it also seems related to #489 and #465.  Consequently, I think we should target 0.18 (i.e. prioritise looking into this ASAP); if it turns out this is tricky, then we can move the milestone, but I'd rather start looking at it now, not leave it until next week.

[2015-04-30 09:57] ed-harrison commented on #465
Hoping this is similar to #489, so setting the same milestone.

[2015-04-30 11:08] neiljerram commented on #461
@plwhite Are you happy that this issue is addressed now?  If so, please close.

[2015-04-30 11:10] neiljerram commented on #459
Thanks @Symmetric.  I'll remove this from the 0.18 milestone, as it doesn't appear that anyone regards this as clearly urgent on that timescale.  However, of course it would be great if this does get done in time for 0.18 (on Tuesday).

[2015-04-30 11:13] neiljerram commented on #350
Anyone know where we are on this issue now?

[2015-04-30 14:16] Lukasa commented on #489
So this set of errors all fundamentally occur because we're looking for a security group that the plugin doesn't know anything about.

Basically what happens here is that the neutron plugin stores information about security groups internally, in a dictionary. This dictionary is populated in two ways: first, by a call to `resync_security_groups`, which is made from the periodic resync thread; and s

[2015-04-30 14:32] plwhite commented on #339
I have a radical alternative to this. We should :

* Remove the 30 second sleep before cleanup, and do it right away. I put a proposal for how I think we should do this in google docs.
* Never stub out chains unless they are either explicitly deleted, or are created to satisfy a dependency.

If we can get this idea to fly, I think it potentially makes resolving this issue trivial.

[2015-04-30 16:04] plwhite commented on #461
Fine to close it.

[2015-04-30 16:04] #461 closed

[2015-04-30 16:04] plwhite commented on #329
Fix with Cory to review, so passing ownership to him.

[2015-04-30 16:18] Symmetric commented on #459
@neiljerram sounds good, I have demo work that's higher priority and this isn't a blocker.

[2015-04-30 17:47] fasaxc commented on #444
We've definitely seen the pre-2.0.9 recursive watch issues in the past.  I haven't verified that 2.0.9 solves the proxy-with-cluster-rebuild issue but that's not too pressing.  Piston (who are the only ones I expect to hit the rebuild issues on a regular basis) are using 2.0.9 and they're not using a proxy.

[2015-04-30 18:05] Symmetric opened #498 "Felix doesn't accept protocol "all" in rules"
This is valid in iptables. From the man page:

[code]

The alternative (creating separate rules for TCP and UDP) isn't a dealbreaker, but it's a bit clunky.

[2015-05-01 04:45] fasaxc commented on #498
I think Paul has a workaround for the demo he was working on so there's no urgency here but it should be a very straightforward enhancement.

[2015-05-01 05:04] Symmetric commented on #498
Yep, low priority at this point.

On Thu, Apr 30, 2015 at 9:45 PM, Shaun Crampton <notifications@github.com>
wrote:

[2015-05-01 08:27] Lukasa commented on #489
Ok, the more I think about this the more I think the Neutron driver has fundamentally got a poor architecture for dealing with security groups in a HA environment. Requiring it to keep the full state of endpoints and security profiles in memory is untenable, and doesn't scale at all. I think it needs rearchitecting to avoid keeping snapshots of state in memory.

[2015-05-01 12:34] Lukasa commented on #489
Alright, in the short term I'm going to open a few patches that should paste over areas where I believe this can happen. None of these will correctly solve the underlying problems, but they should buy us a bit more time.

The first case is any major action that occurs before start of day processing is complete: in particular, endpoint create and update actions. This can be solved by holding up any

[2015-05-01 14:26] ed-harrison commented on #350
@robbrockbank @fasaxc Should this still be open, or is it resolved by #362?

[2015-05-01 16:00] #439 closed

[2015-05-02 01:08] fasaxc commented on #446
I think this is causing real-world issues for one of our customer's trials.  They're doing heavy churn testing so they'll be building up a lot of old keys.

[2015-05-02 01:45] #445 closed

[2015-05-02 15:15] fasaxc commented on #350
Felix now functions correctly (without clobbering its data structures) and we program the routes into the kernel (again without clobbering).  The main Calico repo doesn't have the BIRD changes needed to make this all work though.

Suggest we close this one and then open an enhancement issue for the BIRD config and investigate what else we need to do to flesh this out.

[2015-05-03 02:30] fasaxc commented on #341
WiP on this on branch smc-handle-dir-delete

[2015-05-03 02:31] fasaxc commented on #446
WiP on felix changes to handle dir delete on branch smc-handle-dir-delete

[2015-05-04 16:47] fasaxc commented on #489
There are customers hitting this in the field so I've marked it as a ship-stopper.  I think fixing this is much more important than shipping 0.18 on time.

[2015-05-04 16:48] Lukasa commented on #489
@fasaxc I disagree, sadly.

Fixing this properly in the general case is several weeks of work, and it benefits no-one to block other patches behind it. On the other hand, #501 and #502 should do a good job of ameliorating the effects in the short term, and so are probably good enough.

[2015-05-04 17:10] fasaxc commented on #489
@Lukasa let's not try to solve all these long-term issues at the same time.

There must be something that we can do that gets the code correct and scalable _enough_ for the time being.  For example: if it came down to it, catching that exception and triggering a full resync in 5 seconds would be better than dying in a heap!  (Neil seemed concerned that the simple retries in #502 wouldn't have the

[2015-05-04 17:25] Lukasa commented on #489
Yes, I can throw out the flow model that the entire section of code is supposed to do and simply force a resync in any VM create/update scenario. That's the only way to get the code *correct*, though I believe the jury's out on 'scalable' in that case.

Anything else has edge-cases in correctness where we can end up claiming that we successfully programmed an endpoint that is entirely unreachable.

[2015-05-04 22:34] fasaxc commented on #489
I think I've gotten to the bottom of a class of issues in the plugin that all affect the non-HA case.  Agree that the HA case needs more substantial thought.

My hunch is that the plugin was written under the assumption that eventlet uses cooperative multi-threading, which is true... ...except when it's using monkey_patching or when we do IO.  Neutron *does* use monkey-patching and we *do* do IO (

[2015-05-05 00:02] fasaxc opened #509 "Neutron's DHCP agent is too slow under high churn"
I ran a churn test, deleting and recreating 10 VMs every 30s or so.  The DHCP agent quickly gets backed up and seems to have no mechanism to catch up.

It doesn't do any batching in its calls to dnsmasq; instead it synchronously processes each update in turn from the rabbit queue.  It rewrites the config for each update and kicks dnsmasq for each update.

[2015-05-05 00:32] fasaxc opened #510 "Port BIRD anycast changes from calico-docker"
As discussed in #350, felix now supports enough anycast for calico-docker.  However, they had to make local BIRD config changes to get BIRD to program multiple routes.  We should investigate and incorporate into our canned BIRD config.

[2015-05-05 00:33] #350 closed

[2015-05-05 08:31] Lukasa commented on #489
I think you and I understand co-operative concurrency differently. Even with the monkeypatching, the concurrency is still co-operative, because a thread of execution cannot be *forced* to yield. With monkeypatching in place, however, the yield points are implicit. This implicit cooperative concurrency is a paradigm I *loathe* (gevent does it too), partly because it inevitably causes problems of th

[2015-05-05 10:24] neiljerram commented on #489
I believe we're done on this now, after merging @fasaxc's PR.  Please shout and reopen if I've got that wrong.

[2015-05-05 10:24] #489 closed

[2015-05-05 10:33] neiljerram commented on #446
Thanks @fasaxc, but I'm afraid there's no practical chance of getting this done for 0.18.

[2015-05-05 10:34] neiljerram commented on #466
Fixed by #491

[2015-05-05 10:34] #466 closed

[2015-05-05 13:29] #402 closed

[2015-05-05 14:13] #329 closed

[2015-05-05 14:14] fasaxc commented on #446
@neiljerram  Understood.  I think the plugin work is very staightforward because etcd has a "delete dir if not empty" operation we can use but the felix side needs more work.

[2015-05-05 15:10] neiljerram commented on #462
Addressed by https://github.com/Metaswitch/calico-neutron/pull/5

[2015-05-05 15:17] neiljerram commented on #465
Believed fixed by #508

[2015-05-05 15:17] #465 closed

[2015-05-05 15:19] neiljerram commented on #482
The KeyError aspect of this is believed fixed by #508.  The MySQL DB part is still unaddressed, but has not been seen again and is believed not urgent for the 0.18 release.  Hence deferring this to 0.19.

[2015-05-05 15:25] neiljerram commented on #458
I believe we're all in agreement on the principle here.  My comment above @nbartos's one was intended to say the same thing, but @nbartos expressed it rather better!

Regarding the specific problem of "No more machines in the cluster": I've just reviewed this again with @Lukasa and we plan no action for the time being.  We believe that "No more machines in the cluster" occurs when the local etcd p

[2015-05-05 15:32] nbartos commented on #458
I should note that we are running only a single instance of etcd (master elected and backed with a ramdisk), with both neutron and felix pointing directly to that instance without any etcd proxies.  I'm not sure if that changes your thoughts on why it's coming up in this case.

[2015-05-05 16:14] lxpollitt commented on #482
@neiljerram - I'm confused as to what the status of this issue is meant to be.  It seems it was both deferred to 0.19 and closed at the same time, but there is no comment indicating that the headline issue has been resolved?

[2015-05-05 16:15] lxpollitt commented on #482
So I reopened.  If that's wrong then feel free to close again with a comment to make it a bit clearer as to why...

[2015-05-05 17:01] neiljerram commented on #482
Thanks @lxpollitt. I didn't intend to close this - sorry!

[2015-05-05 22:08] fasaxc opened #512 "Default notification driver fills up queue without bound"
The default neutron config (or at least what we use in the FV rig, has this line:
[code]
That driver pushes notifications onto the notifications.info queue in RabbitMQ.  However, if our defautl configuration, it looks like nothing is draining that queue so it just fills up.

There's a no_op driver that we can use instead or a logging driver.  I'm not really sure what the right one to use is but th

[2015-05-05 22:09] fasaxc commented on #512
@neiljerram any ideas?

[2015-05-05 22:17] fasaxc commented on #512
This non-bug mentions a component that does consume that queue, but apparently we're not running that: https://bugs.launchpad.net/nova/+bug/1188643

[2015-05-06 15:28] #462 closed

[2015-05-06 15:40] DaveLangridge opened #515 "Plugin can get VM config wrong after VM create failure."
Nova tries to create a VM on compute node A, and it fails (e.g. somone hasn't changed the qemu.conf file correctly at install), then nova tries another node - B. Nova now thinks the VM is on B (though it doesn't remove the tap interface on A), but felix thinks its on A, so routing etc is on A, not B. The etcd config is showing the endpoint on A, so this is probably a plugin problem.

[2015-05-06 20:57] fasaxc commented on #515
I think one our customers might be hitting this so I've triaged it into 0.19.

[2015-05-06 21:01] fasaxc opened #516 "Horizon showing multiple IPs, nova client showing TAP devices on multiple hosts"
Customer is hitting this after a churn test.  It may be the same as @DaveLangridge's #515 bug.  They were running 0.17.

In horizon, a VM shows as having mutliple IP addresses.  Listing ports at the nova CLI, they found that nova believes that there are two TAP devices on different hosts with the same UUID.  One of them is active and attached to the host but felix thinks the other one is.

[2015-05-07 01:36] fasaxc commented on #516
Now think this is a dupe of #515

[2015-05-07 01:36] #516 closed

[2015-05-07 01:49] fasaxc opened #517 "Add "neutron agent-delete" to docs"
Our docs say to shut down the various agents that calico doesn't require.  However, that doesn't clean up their presence in the neutron database.  The entries are created on demand by the agents when they check in for the first time.

The "neutron agent-delete" command removes those entries.  Doing so prevents all the now-stopped agents from appearing in the list and being reported as down.

[2015-05-07 08:29] neiljerram commented on #512
I'll take a look

[2015-05-07 10:05] plwhite commented on #515
I had a quick think about this, and if the etcd configuration is incorrect (i.e. shows it on the wrong host) then Felix is blameless. Of course, it's possible that the endpoint is in some sense in both hosts, and we probably need to consider how Felix would handle that, but it's not clear that this is a high priority.

[2015-05-08 03:47] fasaxc commented on #515
Neutron definitely seems to think there are two copies of the port.  On the customer's system the ports had different types though.  Maybe we're misunderstanding an update from Neutron or maybe it's a Neutron bug.

[2015-05-08 06:39] Lukasa commented on #515
I think the mechanism driver logs out the port dict whenever a port update comes in, so it'd be interesting to see if the logs contain the two port dicts. That should help us tell the difference between the two.

[2015-05-08 14:50] DaveLangridge opened #520 "Memory allocation exception gets swallowed."
I was running mismatched versions of plugin and felix (accidentally). This caused a memory leak. Eventually memory allocation exceptions were raised, but handled. These continued. Probably should do something better here, like restart felix.

2015-05-07 21:34:55,701 [ERROR][3523/7399] calico.felix.actor 227: Exception processing 3f1bd9f99fef (on_endpoint_update)
Traceback (most recent call last):

[2015-05-08 15:45] fasaxc commented on #520
That's odd, the exception should get put into the result object, which should either get handled or cause Felix to get killed later on if it doesn't get handled.

[2015-05-08 15:49] Lukasa commented on #520
It's coming from gevent on an OOM condition: I think at this stage you can assume that nothing sensible happens.

[2015-05-08 16:40] fasaxc commented on #520
Annoyingly, it's not even a BaseException because it's wrapping an errno.  Either way, Felix should die if such an exception is not handled; I'll have to dig into why that's not happening.

[2015-05-08 16:42] fasaxc opened #521 "ipsets only getting added to in churn test"
I dug into the issue @DaveLangridge mentioned in #520 and it looks like the dataplane has got out of sync with etcd.  With me to investigate.

[2015-05-08 18:21] fasaxc commented on #520
I believe swallowing the error was caused by the same issue that was leaking memory in the first place: #523

[2015-05-08 20:44] #521 closed

[2015-05-11 10:09] neiljerram commented on #520
Looks like this issue should be closed now.  @DaveLangridge or @Lukasa , please can you confirm?

[2015-05-11 10:11] neiljerram commented on #515
Sounds like more info needed, and I don't see any chance of this making 0.19, so deferring.

[2015-05-11 10:19] DaveLangridge commented on #520
Looks like it should be fixed by #523. Not tested yet.

[2015-05-11 10:58] #520 closed

[2015-05-11 17:14] fasaxc commented on #509
Removing an IP binding requires an expensive shell-out too.  That takes about ~100ms so, without parallelising those calls, 10 VM/s of churn is the limit.

[2015-05-11 23:33] fasaxc commented on #482
So, I think @Lukasa put in a work around that blocks VM creation until we've successfully connected to MySQL and got the SGs.  If we can connect to MySQL at all, that should do it, if not, what else can we do?

[2015-05-12 08:10] Lukasa commented on #482
@neiljerram and I actually believe these mysql errors were coming because of the forking logic in Neutron. I suspect the forking fix resolves this problem.

[2015-05-12 08:10] #482 closed

[2015-05-12 20:14] fasaxc commented on #515
Dave, does it make sense for you to repro this to get the port dict diags?

[2015-05-13 03:29] fasaxc commented on #509
@Lukasa @neiljerram Just FYI I made a little start on a felix DHCP prototype (forgot to push my branch).  I didn't get very far but it did flush out a bunch of issues:

* The Neutron DHCP agent does more than just DHCP; it also configures dnsmasq as a DNS server.
* If the DNS proxy function is needed, then every agent really does need all the addresses of the other nodes.  **Do you know if this is

[2015-05-13 04:43] Lukasa commented on #509
Yup, it definitely is. =) It's exposed through the Horizon UI and I've definitely used it in the past.

[2015-05-13 13:21] DaveLangridge commented on #515
I've just repro'd this. Logs are quite big. I could upload them, but probably better for you to look at calico-rh01.
To repro, I edited the libvirt config on rh02 to ensure that libvirt would fail to create the VM. Then added a VM. The attempt to create it on rh02 fails, then it gets created on rh01. Looks like the plugin thinks its on rh02 still.
ID is 3ee54ff4-a744-469a-8708-eb4b7fbd1ba2
I can f

[2015-05-13 13:34] Lukasa commented on #515
Interesting, the port binding is definitely saying calico-rh02 is the destination of the migration. Weird. I wonder what we missed here.

[2015-05-13 16:24] neiljerram commented on #515
Suspect Nova/Neutron are just not telling us when the first attempted compute host fails, for a new VM.  Although there are UPDATE_PORT_POSTCOMMIT calls in the log, it turns out that these are entirely to do with the initial port creation attempt - and hence consistently reference the first attempted compute host - and nothing to do with the subsequent move to the second compute host.

Apparently

[2015-05-13 16:31] neiljerram commented on #515
So, the key parts of those stacks are, for the first call:

    Plugin create_port
      CalicoMechanismDriver create_port_postcommit
        Plugin update_port_status
          CalicoMechanismDriver update_port_postcommit

and for the second call:

    Plugin create_port
      CalicoMechanismDriver update_port_postcommit

In the first call stack, binding:vif_type is still 'unbound'.  In the secon

[2015-05-13 17:56] matthewdupre opened #534 "Felix runs out of file descriptors at around 160 instances on one host"
I'm running with the default ulimit of 1024, and after creating 160 VMs it stopped setting up new VMs and cyclically restarted.  We should consider reducing the number of file handles used and (if we can't remove the relation to number of instances) document that the limit may need increasing.
[code]

[2015-05-13 20:14] fasaxc commented on #534
That's odd.  I'm not sure what we'd be using a proportional number of FDs for.

[2015-05-13 20:24] fasaxc commented on #534
Some ideas:
* we're probably using a few hundred for normal things
* could be gevent using FDs for something underneath us
* could simply be that we kick off 160 endpoints and each tries to configure its tap at the same time using a shell-out; each shell-out will take 3 FDs for stdin/out/err.

The latter could be mitigated by adding a Semaphore in futils to limit parallelism. Or, we could simply i

[2015-05-14 08:31] Lukasa commented on #515
Ok, we need to try to fix this for the sake of plugin performance: this costs us some unnecessary DB roundtrips and some etcd calls that we could entirely skip.

[2015-05-14 11:41] matthewdupre commented on #534
I can further add that increasing the limit (put a `limit nofile 10000 10000` stanza into /etc/init/calico-felix.conf) does increase the number of VMs Felix can handle.

[2015-05-14 15:30] neiljerram commented on #515
I've been pointed (by Brian Haley from HP) at what looks like the fix for this problem.  It's in Nova, and has only been fixed during the Kilo cycle - i.e. it's expected that this would be a problem in Juno-level code (or earlier).

The Nova code fix can be seen at https://review.openstack.org/#/c/98340/.  Related bug discussion is at https://bugs.launchpad.net/nova/+bug/1327124.

I suggest trying

[2015-05-14 16:05] neiljerram commented on #515
To be clear, my previous comment refers to the problem of the plugin and Calico not being told about the second chosen compute host for a new VM, when the first chosen compute host fails to launch the VM.  The openstack-dev ML thread about this starts at http://lists.openstack.org/pipermail/openstack-dev/2015-May/064107.html

[2015-05-14 17:12] neiljerram commented on #512
Addressed by https://github.com/Metaswitch/calico-chef/pull/26

[2015-05-14 17:31] #512 closed

[2015-05-15 10:21] DaveLangridge opened #540 "Exception in felix when deleting port"
During churn test with felix from neutron-ha branch.

nova/nova-compute.log:2015-05-15 09:53:05.901 1591 ERROR nova.compute.manager [-] [instance: 8e21dcfd-1421-4693-8408-74e77ee28eb2] Build of instance 8e21dcfd-1421-4693-8408-74e77ee28eb2 aborted: Failed to allocate the network(s), not rescheduling.

[2015-05-15 10:23] Lukasa commented on #540
This is unrelated to Felix, it's a neutron problem, and should be resolved in 066712521b476c96c517fcbcb1688219823fdd9d.

[2015-05-15 10:23] #540 closed

[2015-05-15 10:24] DaveLangridge opened #541 "Felix exception during ipsets cleanup"
During churn test on neutron-ha branch

2015-05-14 14:46:01,457 [ERROR][21795/6] calico.felix.splitter 110: ipsets cleanup failed, will retry on resync.
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/calico/felix/splitter.py", line 108, in trigger_cleanup
    ipset_mgr.cleanup(async=False)
  File "/usr/lib/python2.7/dist-packages/calico/felix/actor.py", line 450, in qu

[2015-05-15 10:29] #339 closed

[2015-05-15 10:30] DaveLangridge opened #542 "Felix exception during delete port"
Found during churn test on neutron-ha branch.

2015-05-14 14:14:38,361 [ERROR][21795/166] calico.felix.endpoint 388: Cannot delete rules for interface tapfaab2e73-0e for EndpointId<calico-vm15/openstack/2712722d-e654-43b0-aebc-7a310468d40a/faab2e73-0e79-4487-b939-7501f9e39456>
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/calico/felix/endpoint.py", line 379, in _decon

[2015-05-15 13:26] DaveLangridge opened #543 "Leader election threads exit on error, and don't restart"
neutron-ha code.

E.g. etcd exception causes:

2015-05-14 15:12:29.633 12905 ERROR calico.election [-] Election greenlet exiting

but the thread doesn't restart. Can result in no leader.

[2015-05-15 15:26] Lukasa commented on #543
I have a candidate fix in #545.

[2015-05-15 21:05] robbrockbank opened #549 "MAC address update to endpoint is not reflected in ARP cache"
Running with docker containers, a stopped container tears down all interfaces - restarting the container requires new interfaces to be created resulting in different endpoint MACs.

The new MAC address is not being applied to the ARP cache in Felix.

I updated the following code in Felix to test out a quick change to ensure we always set the ARP for a changed IP set.

[code]

I added the final 3 l

[2015-05-15 21:24] fasaxc opened #550 "HA test: Ready flag persistently not set"
Don't have much to go on yet apart from felix complaining that the Ready flag is missing.  Actively investigating on my test rig...

[2015-05-15 21:26] fasaxc commented on #550
Election thread seems to be live; the master is renewing its lease periodically.

[2015-05-15 22:28] fasaxc commented on #550
Oh, I see what's going on.  When neutron forks, it **does not** fork our periodic resync thread.  The periodic resync thread only runs in the parent process.

However, the lazy initialisation in the child workers and starts the Elector.  We then only resync if the parent happens to win the election.

[2015-05-16 07:20] Lukasa commented on #549
Looks like it's not far from the right fix though. This is for @plwhite.

[2015-05-16 15:04] fasaxc commented on #543
@Lukasa should we take down the process if our leader election or PR threads actually do die?  I'd guess that Neutron will restart the child worker.

[2015-05-16 15:05] Lukasa commented on #543
No, I don't think so: I think we should restart them. They should default to 'safe' (no resync), but if it's possible for us to not take out our process we should do that.

[2015-05-16 15:35] fasaxc commented on #541
@DaveLangridge Do you have the whole log for this?  It's probably bretty easy to track down from the owned_ipset_names clue but this is a re-raised error so the stack trace isn't so useful.  there should be another stack trace not far above with same message but with the correct stack.

[2015-05-17 18:44] fasaxc commented on #543
I'm wary of trying too hard (call it the Erlang philosophy).  Neutron appears to supervise and restart children.  Dying and being restarted covers all sorts of cases that we can't easily spot or take care of ourselves: memory leaks; memory corruption; bugs in our code that only manifest after we've been running a while.  It doesn't help if we get stuck in a restart loop at start of day, but nor do

[2015-05-18 09:51] plwhite commented on #534
1024 is an incredibly low number for the FD limit. Most servers are set to either 32K or 64K - I think we should probably just set it to something sensible.

[2015-05-18 12:26] DaveLangridge commented on #541
Is this what you want?

2015-05-14 14:46:01,171 [INFO][21795/878] calico.felix.endpoint 207: Endpoint<IPv6,id=EndpointId<calico-vm15/openstack/4725d075-e899-4232-83b1-636f4a20908f/c110ea3f-3e84-4820-a81a-584402d029ce>,iface=tapc110ea3f-3e> updated: {'ipv4_gateway': u'10.28.0.1', 'name': u'tapc110ea3f-3e', 'state': u'active', 'ipv6_nets': [u'2001:db8:c41:2::1f1c/128'], 'mac': u'fa:16:3e:b0:f2:30',

[2015-05-18 13:40] plwhite commented on #543
In almost every case now we catch exceptions and avoid exiting the greenlet. However, there are some examples where we might still hit problems. For example, suppose we get some random exception from the initial read? I think it is reasonable for us to have a very broad except in _run that prevents the greenlet ever exiting, no matter what, so I'll do a PR with that change in it.

[2015-05-18 14:01] plwhite commented on #541
That would do it, thanks.

[2015-05-18 16:50] matthewdupre commented on #477
We're going to hold neutron HA until 0.21.

[2015-05-18 18:07] fasaxc opened #556 "HA: Elector doesn't reconnect to etcd after EtcdClusterIdChanged"
The EtcdClusterIdChanged exception is persistent.  Once hit, it will be raised on every subsequent watch(); we need to tear down the client and reconnect in that case (unless we change the behaviour in our fork of python-etcd but we've already made moves to upstream that change).

**Edit**: looks like we're going to address this in python-etcd rather than the Elector.

[2015-05-18 18:09] fasaxc commented on #542
I *think* this is benign.  It simply means the tap device has been removed under us, which we handle.  We should clean up the log spam, if possible, though.

[2015-05-18 18:09] Lukasa commented on #556
Well that's upsetting. =(

[2015-05-18 18:11] Lukasa commented on #556
I'm not confident about doing this in the mechanism driver. It feels like the behaviour is wrong at the python-etcd level, and should be resolved there, rather than having this exception bust the etcd client forever.

[2015-05-18 18:12] fasaxc commented on #556
We could raise the exception once and then update the stored cluster ID so we only raise it once per change?

[2015-05-18 18:12] fasaxc commented on #556
I'll have to discuss with upstream though, I just updated the PR with them over the weekend :-(

[2015-05-18 18:18] Lukasa commented on #556
@fasaxc That approach sounds better. =)

My intuition here is based on urllib3, which does its best to invalidate the minimal amount of state when an exception is thrown. Sometimes state does need to be invalidated, but usually it doesn't.

Note, btw, that right now none of the code in the plugin handles ClusterIDChanged. That may be a problem. =D

[2015-05-18 18:21] fasaxc commented on #556
I mentioned the concerns about the fix in the upstream PR https://github.com/jplana/python-etcd/pull/92

[2015-05-18 19:04] fasaxc commented on #556
PR open in the python-etcd repo to raise that exception only once.  That should help but I'm going to check the code to make sure we'll do the right thing.

[2015-05-18 19:09] fasaxc commented on #556
Looks like the Elector is sound, it'll just restart from scratch if it hits EtcdClusterIdChanged.  Not sure about the mechanism driver.  I'll raise a separate issue.

[2015-05-18 19:12] fasaxc opened #557 "HA: Check that EtcdExceptions such as EtcdClusterIdChanged handled in mechanism driver"
Any etcd request can fail with a connection problem or EtcdClusterIdChanged.  Need to make sure that the mechanism driver does the right thing.

[2015-05-18 19:14] fasaxc commented on #556
Spoke too soon: what if the single cluster ID change exception goes to the plugin and the Elector never hears about it?  I think we need them to have separate clients rather than sharing a single client.

[2015-05-18 19:14] Lukasa commented on #556
If the cluster ID change goes to the plugin the plugin needs to invalidate its etcd state. This *includes* beginning a new leader election. Not too complicated. =)

[2015-05-19 05:00] fasaxc commented on #229
Did some experiments here, IPAddress uses `__slots__` so it's as space efficient as a string.  IPNetwork appears to have a bug that prevents its slots from taking effect: https://github.com/drkjam/netaddr/pull/92

[2015-05-19 07:08] #556 closed

[2015-05-19 09:15] matthewdupre opened #559 "etcd 2.0.11 has a different interface to 2.0.0 for proxies"
2015/05/18 18:59:19 error verifying flags, -advertise-client-urls is required when -listen-client-urls is set explicitly. See 'etcd -help'.
2015/05/18 18:59:19 When listening on specific address(es), this etcd process must advertise accessible url(s) to each connected client.

This needs to be corrected in the documentation (and chef) before a release.

[2015-05-19 09:54] #559 closed

[2015-05-19 14:00] plwhite commented on #542
Yes, this is definitely benign. I'm going to handle it better, but not critically urgent (so fix won't be for a few days).

[2015-05-19 15:55] plwhite opened #566 "Felix never tells you if the ready flag is missing."
On startup, Felix refuses to load configuration until the "ready" flag is present. This leads to the following comedy chain of events.
* Felix does not make any logs until it has read config (because the severity is too low, and we do not know the log file for sure until after the etcd config is read).
* Felix cannot read config until the ready flag is set.

As a result, if the ready flag is missi

[2015-05-19 17:48] lxpollitt commented on #566
I don't think I fully get the "we do not know the log file for sure until after the etcd config is read" comment.  I thought one of the key motivations for having a local config file was so that you can get logging at the level you desire even if you can't connect to etcd?

[2015-05-19 21:03] #550 closed

[2015-05-19 21:04] #557 closed

[2015-05-19 21:31] fasaxc opened #569 "Should set up BIRD for graceful restart"
BIRD doesn't turn on graceful restart by default, but it'd probably something that we want for BGP.

It prevents BIRD from flapping the dataplane after it is restarted.

To turn it on, we need to set the "-R" flag when we execute BIRD.  On ubuntu, it looks like we could do that by dropping -R into the /etc/bird/envvars in the BIRD_ARGS variable.

I'm not sure how this gets configured, maybe it's j

[2015-05-20 00:44] fasaxc opened #571 "etcd profile out of sync, doesn't seem to get fixed"
Ran an FV run on the bobcat rig

* using my smc-multi-pids branch, which supports multiple neutron workers,
* bobcat rig was patched with calico master commit d649e65
* running 8 API workers on the control node

The FV run failed: http://calicobobcat-jenkins.gulfstream:8080/job/fv-tests/791/.  The test_security_group failures seem to be genuine ping failures.

I manually ran the I ran test_securit

[2015-05-20 01:50] fasaxc commented on #571
Re-ran that same test and it looked like it was working before I left the office.  Still, pretty worrying to get two failures in a row.

[2015-05-20 01:51] fasaxc commented on #571
From code reading, it looks like that test should re-add the rule at the start of the test so I'm not sure how it could fail twice in a row if that re-add was giving us a kick to re-write the profile.

[2015-05-20 04:26] fasaxc commented on #229
netaddr accepted my patch so IPNetwork is now more efficient, like IPAddress.

I measure a string representation of an IP network at 64 bytes for an IPv4 address string vs about 103 bytes for an IPNetwork object.  For IPv6, it's 79 vs 126.  (Measured by creating 1m of each and measuring memory usage change of the process.)

[2015-05-20 05:47] Lukasa commented on #571
Periodic resync won't fix this at the moment, it's a known problem.

What's on the smc-multi-pids branch?

[2015-05-20 05:47] Lukasa commented on #571
Also, when testing this, make sure to watch the relevant key in etcd. I wonder if we're having a write ordering problem.

[2015-05-20 08:55] plwhite commented on #566
Yes, agreed. The logic here in Felix is wrong, since one of the refactors has moved initialising of logging after etcd reading. That's clearly not right and needs sorting out properly.

[2015-05-20 09:42] matthewdupre commented on #571
@Lukasa - what do you think the known problem is?

[2015-05-20 10:14] Lukasa commented on #571
We don't update existing keys during re sync, we either write missing ones or delete extra ones.

[2015-05-20 10:24] matthewdupre commented on #571
OK, understood - am I right in inferring that you don't know what the original cause of this is (other than potentially writes overtaking each other)?

[2015-05-20 12:10] Lukasa commented on #571
Correct.

[2015-05-20 15:23] fasaxc commented on #571
My branch is in calico-test. It fixes some tests that were asserting that there was only one neutron process.

[2015-05-20 15:24] fasaxc commented on #571
I've been running with 8 workers

[2015-05-20 17:59] #541 closed

[2015-05-20 18:11] fasaxc commented on #543
Hmm, I'm still not convinced, we don't want to catch errors caused by memory/FD leaks, for example.  Isn't it better to just let the child die and get restarted if we hit an unexpected exception?  Neutron will do that for us if we're in an API worker, otherwise the init daemon should do so.

[2015-05-20 18:13] fasaxc commented on #468
Closing this for now, will re-open if I hear from the customer.

[2015-05-20 18:13] #468 closed

[2015-05-20 18:15] fasaxc commented on #467
Probably reduces our attack surface a bit.  Closes off attacks where the attacker somehow tricks the host to send data to a VM (without actually taking control of the host, for example).  Nothing specific that I'm aware of but probably has some value.

[2015-05-20 18:17] fasaxc commented on #455
Tagging this with 0.21 just to give it a label.  Please triage before 0.21.

[2015-05-20 18:18] fasaxc commented on #454
I think we have a separate issue tracking the agent-delete addition: #517

[2015-05-20 18:19] fasaxc commented on #454
Is there anything left here?

[2015-05-20 18:28] fasaxc commented on #388
This looks like a bug in our BIRD config: https://gitlab.labs.nic.cz/labs/bird/wikis/FAQ#netlink-file-exists

We should set BIRD to prefer kernel routes.  @Symmetric do you have a system exhibiting the issue that you can try the fix out on?

[2015-05-20 18:29] fasaxc commented on #337
Feels like something we need to fix unless we can argue it's not needed with Calico.

[2015-05-20 18:30] fasaxc commented on #306
@neiljerram did this get resolved?

[2015-05-20 18:30] Symmetric commented on #388
@fasaxc yep, looks like it's still occurring on my dev machine.

On Wed, May 20, 2015 at 11:28 AM, Shaun Crampton <notifications@github.com>
wrote:

[2015-05-20 18:37] fasaxc commented on #237
@plwhite  Can we close this now, I don't think we've seen anything like it for a long time and it's pre-etcd by the looks of it?

[2015-05-20 18:38] fasaxc commented on #233
The DHCP agent is supposed to handle this, I think.  It internally shells out to dhcp_release when a port is deleted.

[2015-05-20 18:39] fasaxc commented on #213
Pre-etcd: closing.

[2015-05-20 18:39] #213 closed

[2015-05-20 18:39] fasaxc commented on #212
Feels like a hole we should address fairly soon.

[2015-05-20 18:40] fasaxc commented on #204
Pre-etcd: closing.

[2015-05-20 18:40] #204 closed

[2015-05-20 18:41] fasaxc commented on #198
etcd-felix doesn't read back the state (by design) but it will log if it detects inconsistency in the chains that are present.

[2015-05-20 18:41] #198 closed

[2015-05-20 18:42] fasaxc commented on #196
This has languished, we should address it.

[2015-05-20 18:48] fasaxc commented on #188
I don't think we do anything special for migrations right now, we treat them as a removal and then and add of a port.  I feel like, to handle migration robustly without dropping connections, we need to:

* keep the route on the old host until the new host publishes its route to the guest
* blackhole traffic for the guest at the old host until the traffic all moves to the new
* remove the route on

[2015-05-20 18:49] fasaxc commented on #185
I think we do this in etcd felix.

[2015-05-20 18:49] #185 closed

[2015-05-20 18:50] fasaxc commented on #163
@Lukasa , presumably this is fixed in the HA plugin, which does everything differently?

[2015-05-20 18:51] fasaxc commented on #162
I think we should tell people to run "neutron agent-delete" and friends: #517

[2015-05-20 18:51] #162 closed

[2015-05-20 18:52] fasaxc commented on #141
We do have logging in the iptables layer now.

[2015-05-20 18:52] #141 closed

[2015-05-20 18:52] fasaxc commented on #126
Done, I think.

[2015-05-20 18:52] #126 closed

[2015-05-20 18:54] fasaxc commented on #89
@plwhite  We're not using python-iptables any more, was there anything else on your list?  Closing for now, please re-open if needed.

[2015-05-20 18:54] #89 closed

[2015-05-20 18:55] fasaxc commented on #83
Pre-etcd: closing.

[2015-05-20 18:55] #83 closed

[2015-05-20 18:56] fasaxc commented on #67
We now listen on the netlink API.  @lwr20 can you repro this now?

[2015-05-20 18:57] fasaxc commented on #43
Since DHCP has been a bottleneck, should we look into this again?

[2015-05-20 18:57] lwr20 commented on #67
This bug no longer repros.

[2015-05-20 18:58] #67 closed

[2015-05-20 19:00] fasaxc commented on #40
I don't remember seeing that rule on more recent versions of Felix, we should check it's still there and then close this out (or update the docs).

[2015-05-20 19:01] fasaxc commented on #15
Something we still need to dig into?

[2015-05-20 19:02] fasaxc commented on #12
@neiljerram are you a good person to look at this?

[2015-05-20 19:06] nbartos commented on #40
FYI I found out this is only necessary when using the vhost_net kernel module on the hypervisor when using older guests that use virtio.

I'm currently installing the rule (after enabling vhost_net) in the OUTPUT mangle chain, since it only needs to be done for packets coming from the hypervisor to the VM.  I believe putting it in the POSTROUTING mangle chain will result in more packets being targ

[2015-05-20 21:19] fasaxc opened #572 "Saw master fail to renew its TTL, CaS failure"
I think I've seen the mastership bounce around after the first TTL expiry.  Manifests as a CaS failure in the master's renewal loop.

Maybe we're not specifying the right parameters to etcd?  The docs say

The directory's TTL can be refreshed by making an update. You can do this by making a PUT with prevExist=true and a new TTL.

[2015-05-20 21:26] fasaxc commented on #572
This was with the RPMs that were built today.

[2015-05-20 22:21] fasaxc opened #573 "periodic resync thread should yield"
Occurred to me that the periodic resync thread in the plugin might run for several seconds, which might cause timeouts to API calls.  We should yield every few iterations around our loops.

[2015-05-20 22:48] fasaxc commented on #572
Hmm, did some manual testing on the python CLI and I see the TTL get updated when I run a command like this:

[code]

[2015-05-20 22:56] fasaxc commented on #572
After the first failure it seemed to settle down and the master happily kept renewing.  Maybe the elector was getting starved or something else?

[2015-05-21 02:01] neiljerram commented on #12
I think 'no version' was probably the right state for this to be in - i.e. no particular reason for this to be seen as required for 1.0, or any earlier milestone.

[2015-05-21 02:32] neiljerram commented on #306
Yes.

[2015-05-21 02:32] #306 closed

[2015-05-21 07:23] DaveLangridge commented on #454
I think they're all fixed now.

[2015-05-21 07:24] #454 closed

[2015-05-21 08:18] Lukasa commented on #573
The periodic resync thread will not run for several seconds without yielding.

Remember that eventlet yields control at IO events, just like Twisted does, and this entire thing is IO. I think we're *probably* ok on this: I don't believe it's worth doing unless we have a concrete example of this causing problems.

[2015-05-21 08:19] Lukasa commented on #572
This may be related to ongoing problems with the ready flag.

[2015-05-21 08:24] ed-harrison commented on #455
At the moment, we're waiting for someone to confirm that they actually need RHEL 6.5 support - until we get that confirmation, we're not going to proactively fix our RHEL 6.5 code/instructions.  @fasaxc Have you any evidence that RHEL 6.5 is required by any of your contacts or were you just flagging this so that all our issues were labelled?

[2015-05-21 08:40] Lukasa commented on #572
For the elector to get starved it would need to stop spinning in its loop for 30 seconds. However, that probably *can* happen if the TCP connection to etcd gets broken: the timeout is also 30 seconds. I think the etcd timeouts should probably be far shorter than the interval: say 1/5 of it? That way we'll correctly spot a dead etcd connection fast enough to ensure that we can make a good attempt a

[2015-05-21 12:03] plwhite commented on #467
It's very useful to be able to access the VM from the host. Feels to me like not worth doing, but equally I'm not strongly opposed.

[2015-05-21 12:05] plwhite commented on #237
If we don't have a repro, we should just close it, agreed.

[2015-05-21 12:05] #237 closed

[2015-05-21 12:13] plwhite commented on #212
I'm not sure I buy this. If you have metadata, the first rules you set up allow it, overriding whatever you do in your security group. What am I missing?

[2015-05-21 12:45] lxpollitt commented on #543
+1 from me for @fasaxc's point of view that die is a useful code path to have and one we should be aiming to exercise frequently enough that we know it is robust (i.e. die more frequently than you might strictly have to in order to make sure it is robust for the times when there really is no choice but to die).  The balance is obviously that we still only want to go through the die path fairly inf

[2015-05-21 12:48] lxpollitt commented on #467
+0.5 for @plwhite's point of view, but I don't have a strongly informed opinion - hence +0.5 rather than anything else.  :-)

[2015-05-21 12:52] Lukasa commented on #212
@plwhite A clearer explanation from me, I think.

See the following OpenStack system, with two VMs on it. Both are in a security group that has *no* outbound rules in it at all (that is, it DENYs all outbound traffic). Below are the iptables for that system:

[code]

Consider then the metadata packet. It arrives from the VM and is NATed in the nat table (per the rule `  769 46140 DNAT       tcp  -

[2015-05-21 13:22] plwhite commented on #212
Got it. In other words, we have rules for metadata that do the relevant NAT transformations in the nat table, but not rules that ensure that metadata outgoing does not get hit by filter rules. Correct (and trivial) fix is probably to add such a rule to the start of the felix-FROM-ENDPOINT chain.

[2015-05-21 14:50] fasaxc commented on #573
Make sense, I was casting around for ideas as to how the elector might get starved TBH.

[2015-05-21 14:50] #573 closed

[2015-05-21 15:00] alexwlchan commented on #569
The `/etc/bird/envvars` file looks like it's copied into place as part of the bird dpkg.

(Source: opening up the .deb file from http://packages.ubuntu.com/trusty/bird)

[2015-05-21 15:03] fasaxc commented on #572
I'll see if I can get the log from the customer.  It was a ValueError from the master's refresh loop.  The logs should let us see the timing though.

[2015-05-21 16:02] fasaxc commented on #455
The latter, just forcing us to triage so it didn't get lost.

[2015-05-21 16:39] fasaxc commented on #467
Talked this over with the customer I visited yesterday.  I think they were +2 for allowing hypervisor to access VMs.  Usefulness trumps nebulous (and speculative) security benefit for them.

Something we might want to mention in our docs to dispel any FUD though?

[2015-05-21 16:46] fasaxc commented on #509
We have a patched version of the DHCP agent that we can build on demand.  I think the next action is with @neiljerram to either merge that to our Neutron fork or propose something else.  (Largely depends on the outcome of his meetings at the Openstack conference)

[2015-05-21 16:46] fasaxc commented on #498
I think anyone could pick this up and I'm not going to get to it before my vacation.

[2015-05-21 16:50] fasaxc commented on #341
Fixed under #548

[2015-05-21 16:59] fasaxc commented on #325
I think the idea is that periodic resync makes us more robust to various classes of errors and bugs that lead to us being out of sync and never spotting it.  For example:

* bug in our etcd polling loop so it miscalculates the next polling index under some weird corner case
* bug in etcd causing same
* a lost event from etcd due to client or server bug
* bug in our incremental update code for all

[2015-05-21 18:28] fasaxc commented on #357
Fixed under #568.  #229 tracks switching to IPAddress/IPNetwork objects but that's less important IMO.

[2015-05-21 18:28] #357 closed

[2015-05-21 18:30] fasaxc opened #578 "Elector greenlet kill() call failed, eventlet version difference?"
The version of eventlet that I have installed locally allows greenlet.kill(Exception()), but the one on the FV server seems to need kill(Exception(), None, None).

[2015-05-21 18:32] fasaxc commented on #578
Oh, maybe it's a different code path that I'm hitting.  I'll investigate.  This is the traceback:
[code]

[2015-05-21 19:12] #578 closed

[2015-05-21 22:11] fasaxc opened #580 "Elections fail on Python 2.6"
This appears to be a python-etcd incompatibility.  The `handle()` function that is supposed to turn error responses into the EtcdKeyNotFound error that we're expecting, contains this line:
[code]
Which fails on python 2.6, raising `ValueError('zero length field name in format')`.  That gets translated into a generic EtcdException.

Not sure how much we care about 2.6 support but I think it's broke

[2015-05-21 22:35] fasaxc commented on #572
Wrote a repro script but can't seem to hit this case: https://gist.github.com/fasaxc/e8c6a7d4dfb760a61503

[2015-05-21 22:44] fasaxc commented on #325
@plwhite @Lukasa.  I've been thinking this are should be refactored a bit, particularly if we're moving towards implementing periodic resync and felix status reporting.

I think it makes sense to take the etcd loop off the etcd watcher's greenlet.  It doesn't fit the Actor model (a message that just blocks the queue!).  We should probably move it to its own greenlet and have it be managed by the E

[2015-05-21 22:46] fasaxc commented on #572
If we can't get a log from the customer then I suspect the only thing we can do is try to repro live in neutron in the large scale test rig.  Maybe it really is getting starved out by Neutron's start-of-day processing?

[2015-05-21 22:47] fasaxc commented on #572
@robbrockbank one possible next action is you receiving the log from the customer.

[2015-05-21 22:49] fasaxc commented on #324
@matthewdupre I thin the next action is to find out what the limits are, which probably comes under your scale testing umbrella.

[2015-05-22 08:21] ed-harrison commented on #455
Closing this as we currently have no active plans to resurrect RHEL 6.5 support.

[2015-05-22 08:21] #455 closed

[2015-05-22 09:09] Lukasa opened #581 "'Inbound/Outbound Calico Rule' logs should be debug level"
Because they spam the crap out the logs.

[2015-05-22 16:03] ed-harrison opened #585 "FAQ section on saved state is out of date"
There is an explicit warning that the text is out of date following the etcd upgrade, but we really should fix it!

[2015-05-25 09:30] plwhite commented on #324
I'm keen not to fix this until we know that there is an actual problem - to the point where my preference is to just close the issue and do nothing. If etcd can happily feed and water the herd, let them thunder away. If it can't, we can spread them out a bit.

[2015-05-25 09:36] plwhite commented on #325
If the clock jumps about wildly, it'll make our resynching a bit weird in terms of timing - but I don't think we care particularly, do we? So many things on the box are likely to break if the clock goes that bad, that we are probably the least possible problem.

More generally though, I really would like to _keep this simple_. I'm happy to tweak the etcd thread structure (which I agree has gone a

[2015-05-25 10:02] #212 closed

[2015-05-26 09:51] Lukasa commented on #572
Currently this is blocked as we have no repro and no logs. Removing this from 0.21 until we can unblock it.

[2015-05-26 09:53] Lukasa commented on #580
We don't care about this until Python 2.6 support comes back on the table.

[2015-05-26 09:54] #580 closed

[2015-05-26 09:56] Lukasa commented on #543
This is an ongoing discussion, but it's not currently a bug that we're desperately worried about.

[2015-05-26 10:31] Lukasa opened #587 "Gevent logging exception"
Here's a weird one: while trialling our code, @nbartos has hit the following interesting traceback:

[code]

My current theory is that we cannot log to syslog from a weakref cleanup callback because that will be called on the main greenlet. I need to confirm that, though.

[2015-05-26 12:38] Lukasa commented on #587
Yup, confirmed.

The weakref callback can be thought of as effectively being a destructor. This means they play *really badly* with gevent: if we do anything that could cause gevent to yield the flow of control then we're totally screwed. Because loggers can essentially call arbitrary code, this means we absolutely must not log here.

We should also check our code for any other place we use weakre

[2015-05-26 12:43] Lukasa commented on #587
To be clear, the following comment in the code is wrong in a very subtle way that I did not fully understand until just now:

[code]

It's technically true that the callback does not interfere with GC, but not in the way we had hoped. In particular, the weakref logic is not monkeypatched by gevent, so it's not gevent aware. This means it will run in the context of whatever greenlet is active when

[2015-05-26 16:16] robbrockbank commented on #587
Do we lose any important information just removing the logs?  Is it worth adding our own log mechanism to queue the logs and write them out on non-hub greenlet?

[2015-05-26 16:19] Lukasa commented on #587
I don't believe we do. One of the logs is a debug level log that we clearly don't rely on, and the other is accompanied by a print to stderr (which works fine) and an abrupt exit. Rolling a solution to this problem just to keep those two logs in seems like an error to me.

[2015-05-27 10:28] #587 closed

[2015-05-27 10:37] plwhite commented on #187
Should have some simple validation in Felix.

* IP forwarding as above
* File handle limits (set in the upstart job, but should validate as a belt and braces).

May want to add others later. Not critical for now, but worth sanity checking at startup point.

[2015-05-27 11:55] plwhite commented on #542
Looks like interface_exists is failing - presumably because the place it checks (/sys/class/net/<iface>) exists, but the interface is going down at the time so the ip commands think it has gone.

[2015-05-28 08:39] DaveLangridge commented on #515
I've just retested this with kilo + calico and it works fine. VM comes up on second host correctly, with nothing left behind on first host.

Closing this issue.

[2015-05-28 08:39] #515 closed

[2015-05-28 09:58] #585 closed

[2015-05-28 09:58] #566 closed

[2015-05-28 09:59] #460 closed

[2015-05-28 11:00] alexwlchan commented on #534
Pinging @matthewdupre: now you've merged my PR, can this issue be closed?

[2015-05-28 11:23] matthewdupre commented on #534
Yes.

[2015-05-28 11:23] #534 closed

[2015-05-28 13:16] alexwlchan commented on #190
There's a [section in the BIRD docs](http://bird.network.cz/?get_doc&f=bird-1.html#ss1.4) which also talks about privileges. I've only skimmed it, but might be worth looking in to further if/when we get around to implementing this.

[2015-05-28 15:46] alexwlchan opened #595 "netlink socket overflow: "No buffer space available" (1000 endpoints on single host)"
Spotted during scalability testing. Felix falls over three times within the course of a second, and then seems to recover (no more logs are dropped after this). Felix seems to continue running (or at least upstart brings it back).

I was attempting to spin up 1000 endpoints on the same host as part of the scalability testing. Memory consumption then goes to ~300MiB and sits there. No obvious other

[2015-05-28 16:05] plwhite commented on #549
I have a fix here, not yet tested - so nobody else pick this up when I am out!

[2015-05-29 10:14] matthewdupre commented on #542
Merged a (slightly speculative) fix for this, so I'm closing this for now.  If you hit this again, please reopen the issue.

[2015-05-29 10:14] #542 closed

[2015-05-29 14:12] matthewdupre opened #596 "Neutron driver leader election etcd keys not versioned in data model"
We use version numbers underneath the root `calico` key to ease upgrading the data model, but the leader election keys aren't under it.  Is this intentional?  If so why, if not can we fix it?

Sample etcd contents:
`root@computetest1:~# etcdctl ls --recursive
/calico
/calico/openstack
/calico/openstack/neutron_election
/calico/v1
/calico/v1/policy
/calico/v1/policy/profile
/calico/v1/policy/profil

[2015-05-29 14:13] matthewdupre commented on #596
@neiljerram @spikecurtis @lukasa one of you might be able to shed some light on this?

[2015-05-29 14:26] neiljerram commented on #596
I think the answer is that during an upgrade, we could have plugins at different levels.  But we still only want one of them to be the leader.

[2015-05-29 14:52] lxpollitt commented on #596
@neiljerram I'm not sure I understand your statement.  I agree with it, but don't see why that justifies not having a version number on that part of the data model.  My view is that is should have a version number, but that version number is separate from the version number for the main data model (the data model that Felix interacts with that is not orchestrator specific).  So I would expect /cal

[2015-05-29 15:03] neiljerram commented on #596
Suppose one plugin was using /calico/openstack/v1/neutron_election as its leader election key, and another plugin was using /calico/openstack/v2/neutron_election.  How would they avoid deciding both to be the leader, and so both to do periodic resyncs?

[2015-05-29 19:21] lxpollitt commented on #596
I'm not sure we have to design that now.  It's a problem to be solved later if/when we do decide we want to make a non-backcompatible change to the data model.  If we put a version number in now then the worst case scenario is we never rev it.

[2015-06-01 10:03] matthewdupre opened #599 "Diags script doesn't gather etcd diagnostics"
A dump of the database would be useful (both to check its contents, and to check connectivity).

[2015-06-01 10:47] matthewdupre commented on #595
If I had to guess, I'd say that the following part of that traceback:

`File "/usr/lib/python2.7/dist-packages/calico/felix/devices.py", line 257, in watch_interfaces
    data = s.recv(65535)
  File "/usr/lib/python2.7/dist-packages/gevent/socket.py", line 385, in recv
    return sock.recv(*args)
error: [Errno 105] No buffer space available`

and the fact that you had 1000 interfaces on your box m

[2015-06-01 11:57] ed-harrison commented on #515
There's a lot in this issue - are we definitely confident that everything here is an OpenStack bug (which is fixed in Kilo) or is there still scope for Calico to "do better" under this circumstance?  @DaveLangridge @neiljerram ?

[2015-06-01 12:05] plwhite commented on #595
@matthewdupre is surely right. Worth seeing what we find there.

[2015-06-01 12:07] DaveLangridge commented on #515
I think we're done. Calico was behaving correctly, based on what it was being told.

[2015-06-01 13:53] plwhite opened #601 "Felix falls over on unparseable endpoint"
Try creating an endpoint which instead of a bunch of JSON in etcd just has a string. Felix tries to parse the JSON then falls over because the JSON decoder throws an exception it does not catch.

There's clearly room for far more firewalling in this code area - not a must fix now bug, but well worth doing before general release.

[2015-06-01 14:08] alexwlchan commented on #595
Decreasing that limit definitely gives Felix a headache, but it's a different exception.

I tried to create 100 endpoints on the same host, with `s.recv(256)`. Felix was definitely unhappy:

* I saw the weird memory behaviour again (RES jumped by about 7000 kiB and VIRT doubled; neither changed after that).
* I saw this exception in the logs:

        2015-06-01 13:35:56,153 [ERROR][28248/1] calic

[2015-06-01 14:26] alexwlchan commented on #595
We can definitely create >1000 interfaces on the same host, no problem. (Unsurprisingly, really.) So the problem lies elsewhere.

[2015-06-01 14:59] matthewdupre commented on #595
That unpack problem isn't all that different to not having enough buffer space - it could suggest that the message has been truncated due to insufficient space.  Having two different exceptions is definitely a bit odd, but I'd still expect increasing the limit to fix it (if we decide it's worth it), so I don't think this changes anything.

[2015-06-01 15:09] alexwlchan commented on #595
@matthewdupre I will be running another test with 1000 endpoints (probably) tomorrow, so I'm going to try increasing the limit and see what happens.

[2015-06-01 15:15] matthewdupre commented on #549
Fix now merged (PR #600).

[2015-06-01 15:18] matthewdupre commented on #509
I'm going to merge the WIP fix for this in after 0.22 goes out shortly.

[2015-06-01 15:26] matthewdupre commented on #446
@fasaxc has a fix to this been merged?  There are a whole bunch of pull requests that all say 'work continued in <other place>'.

[2015-06-01 15:27] matthewdupre commented on #446
Never mind, I found it - it went into #548.

[2015-06-01 15:27] #446 closed

[2015-06-01 15:28] matthewdupre commented on #477
This went in last release - closing the issue.

[2015-06-01 15:28] #477 closed

[2015-06-01 15:29] matthewdupre commented on #459
Punting this out to 1.0 - fixing is still with you @Symmetric.

[2015-06-01 15:33] lxpollitt commented on #459
@matthewdupre, @Symmetric is out of the office for the next 3 weeks, so I think this should go to someone else.

[2015-06-01 15:35] matthewdupre commented on #478
Ubuntu instructions and Chef need updating to match this.

[2015-06-01 18:27] fasaxc commented on #595
e're not using pyroute2 but it looks like this is what we're hitting:

http://docs.pyroute2.org/nlsocket.html#enobuf-and-async-i-o

"When Netlink messages arrive faster than a program reads then from the socket, the messages overflow the socket buffer and one gets ENOBUF on recv():"

[2015-06-02 09:16] ed-harrison commented on #549
Reopening as we had to back out the fix in PR #600, which didn't work for IPv6.

[2015-06-02 10:06] plwhite commented on #549
Naturally, the area that I broke was a trivial "safe" change to an area with no tests.

I'm going to back off and spend a few happy hours writing endpoint tests to unblock this.

[2015-06-02 12:19] bossmc commented on #395
Proxies aren't involved in leadership elections, only true cluster members are, so I don't think that's related.

On the other hand, the code in https://github.com/coreos/etcd/blob/master/Godeps/_workspace/src/github.com/coreos/go-etcd/etcd/requests.go#L157-167 only allows a request to be outstanding for 100ms before cancelling it and it only allows two retries.  I'm not sure if the response from

[2015-06-02 12:21] bossmc commented on #395
My findings from testing etcd at various latencies:

##### Default Settings

Time between heartbeat messages (equal to “time to wait for votes during election”) = 100ms
Time before starting election = 1000ms

##### Test Architecture

Three etcd nodes, with netem adding latency to the inter-node flows (i.e. all network hops are delayed by the given latency + real latency).  I tested leadership elec

[2015-06-02 15:55] DaveLangridge opened #608 "felix can't handle 'other' protocols"
openstack allows SG rules for 'other' protocols. I tried adding a rule for protocol 132 (SCTP). Openstack was happy with this, but I got no entry in the iptables. felix log:

2015-06-02 15:46:31,338 [ERROR][30619/3] calico.felix.fetcd 514: Validation failed for profile d2571330-c55c-4eb9-a809-654e6cf40603 rules: {'outbound_rules': [{'ip_version': 6, 'dst_net': '::/0'}, {'ip_version': 4, 'dst_net':

[2015-06-02 16:05] plwhite commented on #608
We only support tcp, udp, icmp and icmpv6. Either the plugin should be removing these as unsupported or (less short-sightedly) Felix should be handling them. So I think this is a valid bug, and we should fix it, along with ensuring we support anything else that OpenStack can set up (in case we missed anything else).

[2015-06-02 16:09] DaveLangridge commented on #608
Openstack supports other protocols, so does iptables. So we should fix this in felix. I'm just testing the other rules.

[2015-06-02 23:27] fasaxc commented on #608
@plwhite We need to be careful how we firewall this; we don't want to allow combinations that iptables doesn't support.  For example, iptables only allows the "multiport" match extension (which we use for matching ports) with tcp, udp, udplite, dccp and sctp.

Also 0 and all are (synonymous) special values.

[2015-06-03 00:44] fasaxc commented on #549
@plwhite did this get merged for good or did it get backed out again?

[2015-06-03 00:51] fasaxc commented on #40
Thanks for the heads up @nbartos.

[2015-06-03 07:08] DaveLangridge commented on #608
I think 0 is a valid protocol. 'all' is a special value (enter '-1' on horizon).
I think I also suggested that this rule was rejected, but others in the SG were applied. I don't think that's always true. e.g. if this rule is first? Makes fixing more urgent.

[2015-06-03 07:19] DaveLangridge commented on #608
Also, horizon doesn't give the option of specifying ports when 'other protocol' is selected.

[2015-06-03 08:20] #601 closed

[2015-06-03 08:43] neiljerram commented on #40
FYI there's a current thread on this on openstack-dev: http://lists.openstack.org/pipermail/openstack-dev/2015-June/065394.html.  Apparently the iptables fix was merged into the Neutron DHCP agent, before the Kilo release.

[2015-06-03 12:32] ed-harrison commented on #608
If there are things one can configure for SG's in OpenStack, which can't be represented by iptables, then we need to be quite careful about how we present this.  From a 1000 foot view, I'd expect that the OpenStack user will need to know that their rules have been rejected (i.e. there is some kind of error in Horizon or on the CLI) - we'll also need to clearly document the restrictions somewhere.

[2015-06-03 12:35] DaveLangridge commented on #608
Sorry if I wasn't clear above. You can't specify port in the 'other protocols' rule, so the inability of iptables to match port for other protocols isn't relevant to us.

[2015-06-03 12:48] alexwlchan opened #615 "Felix is thrashing CPU and increasing etcd usage at 60s intervals"
In a recent simulated scale test, I noticed that every 60 seconds:

* Felix has a spike of 80% CPU
* etcd has a spike of 20% CPU
* RAM disk usage jumps by ~120 kiB

This occurs even when the test framework is idle. Full results are [on Google Drive](https://docs.google.com/document/d/1w_r8SceJA7bJ9NOD4bmgqvnOHg0bny7rYF9qHG4vwDk); the relevant graphs start on page 3.

I saw similar results in the [

[2015-06-03 18:06] fasaxc commented on #615
etcd is garbage collected so it's normal operation is to increase disk usage up to some limit and then do a GC, which should reduce it back down again.  It's important to run the test long enough to get it to do a GC.  It'll take a long time without heavy churn going on, I think we have to make several thousand writes before it GCs.

The CPU spikes at the pluign/etcd are normal, I think.  The peri

[2015-06-03 18:12] fasaxc commented on #615
@alexwlchan are there any logs from the periodic resync on the control node?  I think it should log if it finds anything that it needs to do.

[2015-06-03 18:12] fasaxc commented on #615
(Or from felix, for that matter.)

[2015-06-03 18:55] fasaxc opened #616 "Default conntrack table sizes are too small"
The conntrack table, which we make heavy use of, has a configurable size, which is fairly low (65k) for a heavily used VM host.

A customer doing heavy churn testing (2 VMs/s with 800 TCP connections per VM) found they had to increase the table size to 1m with a 1 hour hang timeout to deal with connections to VMs that have been deleted.

At a minimum, our docs should explain how to tune the conntr

[2015-06-03 19:00] fasaxc opened #617 "Protect against full conntrack table"
As per #616 customer was doing heavy churn and managed to fill up the conntrack table.  #616 covers improving the install process to cover setting the conntrack limit appropriately.  This issue covers investigating whether there are other areas we can tune or rules we can install to avoid getting DoSed by a full table.

Presently, when the table fills up, you can't even ssh into the host to invest

[2015-06-03 19:03] fasaxc opened #618 "Remove conntrack entries for deleted endpoint?"
As per #616, customer was doing heavy churn, filling up the conntrack table.  One particular issue was that, each time they deleted a VM, they had to wait for the conntrack entries for that VM to time out.  the default timeout is very long so the table filled up.

Can we do something better than recommending a lower timeout.  For example, having felix remove the entries when an endpoint disappears

[2015-06-03 19:13] fasaxc commented on #595
I.e. it's not the recv buffer, it's the socket's buffer.  Increasing the size of either buffer won't help if we can't keep up in the long run.  It's likely that the reading greenlet is being starved and can't keep up, which is going to be awkward to fix because gevent doesn't have thread priorities.

OTOH, it's the rate of change that's likely to be important here.  @alexwlchan how many endpoints

[2015-06-03 19:21] alexwlchan commented on #595
@fasaxc No faster than one endpoint per second, iirc. There’s an `eventlet.sleep(1)` between each endpoint being added in the test script.

[2015-06-03 20:11] fasaxc commented on #618
Had a quick look at the conntrack tools.  It looks like we could have felix issue a pair of calls for each removed IP address:
[code]
Those delete all the conntrack entries that are going to/from the relevant IP.

[2015-06-03 20:12] fasaxc commented on #618
@Lukasa, IIRC you tried something like that but it didn't fly for some reason; can you remember what that was?

[2015-06-03 20:13] fasaxc commented on #616
Workaround is to set a bigger conntrack table size.

[2015-06-03 22:10] Lukasa commented on #618
I have no recollection of having tried anything like this, so I'm not sure how to help. You sure it was me?

[2015-06-04 04:23] fasaxc commented on #608
@DaveLangridge sorry, I mean iptables treats 0 as a special value, which means all; I think matching on protocol == 0 is possible but requires a special case.  iptables is a bit of a minefield.

@ed-harrison agreed; IIRC @neiljerram said that wasn't easy to plumb through but maybe we should revisit.  There's another case that I know we can't handle: #424  .  If we could give a clean error then I'd

[2015-06-04 04:25] fasaxc commented on #608
I'll grab this one since I'm probably the most familiar with the iptables stuff at this point.

[2015-06-04 18:14] fasaxc opened #622 "conntrack not working for IPv6"
Running OpenStack on our Ubuntu (bobcat) rig, I ssh into a VM on another host using its IPv6 address.

With the ssh session up, I list the conntrack entries on the other host using `conntrack -L`  but there are no IPv6 entries listed.

Repeating the test over IPv4, I can see the ssh flow entry appear in the conntrack table.

[2015-06-04 18:20] fasaxc commented on #622
Never mind, I'd failed to pass `--family 6` to show IPv6 addresses.

[2015-06-04 18:20] #622 closed

[2015-06-05 09:19] matthewdupre commented on #549
It's gone in and out several times, but it seems to have stuck this time.

[2015-06-05 09:19] #549 closed

[2015-06-05 09:27] DaveLangridge opened #624 "Felix can write to two logfiles."
Confusing. One has logs reading config from etcd correctly, the other has 'EtcdException: Unable to decode server response: timed out' (I'll raise another issue for that.)

[root@calico-rh01 calico]# ls -ltr
total 27784
-rw-r--r--. 1 root root   496320 Jun  5 10:24 felix.log.2015-06-03
-rw-r--r--. 1 root root 19568895 Jun  5 10:24 felix.log

[2015-06-05 09:30] ed-harrison opened #625 "BIRD only spots deleted local routes during kernel scan"
BIRD uses Netlink sockets to get notifications of changes to the kernel routing tables.  This means it will be notified immediately of any new routes that Felix programs.  However, routes are removed from the kernel, BIRD ignores the notification ( see comment in krt_got_route_async() about "echo of our deletion").

The upshot is that when Calico removes a route, it could take up to the configured

[2015-06-05 10:05] matthewdupre commented on #498
Related to #608

[2015-06-05 10:06] matthewdupre commented on #444
Moved to 2.0.11 several weeks ago.

[2015-06-05 10:06] #444 closed

[2015-06-05 10:07] matthewdupre commented on #405
@Lukasa @neiljerram Do you think this is still a problem since the Neutron HA work?

[2015-06-05 10:15] DaveLangridge opened #626 "Felix exception doing resynch"
Hits the exception below periodically. I hav two nodes calico-rh01 is combined control and compute, calico-rh02. rh02 does not have this log, rh01 does.

2015-06-05 10:41:09,070 [ERROR][1098/3] calico.felix.fetcd 321: Unknown etcd error 'Unable to decode server response: timed out'; doing resync.
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/calico/felix/fetcd.py", li

[2015-06-05 10:16] DaveLangridge commented on #624
I've just noticed that the felix exception appears in both log files.

[2015-06-05 10:36] ed-harrison commented on #510
@Symmetric Can you recall what the specific BIRD config changes were that you needed?  Was it just the "add paths on" configuration, or was there more to it?

[2015-06-05 10:38] ed-harrison commented on #618
@fasaxc is addressing under #623

[2015-06-05 10:42] ed-harrison commented on #596
@neiljerram @Lukasa @spikecurtis @lxpollitt So what are we doing here (not least, given we've released the code in its current state)?

[2015-06-05 10:46] ed-harrison commented on #571
@Lukasa This is currently with you.  Are you actively thinking about how we could modify our resync strategy to catch cases where the keys are present, but incorrect?

[2015-06-05 10:47] Lukasa commented on #571
Depends what you mean by actively. I have a number of ways to fix this, but I don't know what the urgency on them is. We should discuss on Monday.

[2015-06-05 10:48] ed-harrison commented on #569
I notice in the calico-docker BIRD config, they just set the "graceful restart" option in the kernel and BGP sections of the configuration.  Presumably we can just do that?

[2015-06-05 10:53] ed-harrison commented on #419
@Lukasa You asked for an asignee, so can you work out whether you're the right person to address Neil's "shall we close this" question?

[2015-06-05 10:55] ed-harrison commented on #393
I'm not sure we've managed to reproduce this in the last two months, so have to ask whether we should still keep the issue.  @fasaxc what do you think?

[2015-06-05 10:56] matthewdupre commented on #116
Default log level is now info - we'll identify any performance issues by profiling it under load.  Closing.

[2015-06-05 10:56] #116 closed

[2015-06-05 10:56] ed-harrison commented on #388
@matthewdupre Can you have a look at this - I think some of the comments in https://gitlab.labs.nic.cz/labs/bird/wikis/FAQ#netlink-file-exists may relate to the conversation we've been having about route preference anyway.

[2015-06-05 10:58] ed-harrison commented on #337
@neiljerram @Lukasa Just checking - is this still an issue since the recent plugin rewrite?

[2015-06-05 10:59] ed-harrison commented on #328
@neiljerram As we are getting closer to v1.0 can we get an updated view on whether you think this is still an issue?

[2015-06-05 11:02] ed-harrison commented on #261
We've now proposed an upstream nova change to provide this function (not part of the pluggable VIF stuff, based on @neiljerram's analysis of the options) and have that change in our own fork.  Not sure why we need to track this as a separate issue (i.e. I don't think we have issues to track the other proposed upstream changes).

[2015-06-05 11:04] ed-harrison commented on #249
This feels like an area we should address before v1.0 as it is going to make our diagnosis of problems trickier.  Assigning to @matthewdupre as he is likely to have some resource available to look at issues over the next few weeks.

[2015-06-05 11:18] Lukasa commented on #419
I don't think we want to move to 1.8 because of the logistical problems of doing so. If we didn't have those problems I think it'd be fine, but we do, so I'm inclined to want to stay where we are at this time. @fasaxc, do you believe there's a compelling reason to move that outweighs that cost?

[2015-06-05 11:19] Lukasa commented on #337
Yes.

[2015-06-05 11:37] matthewdupre commented on #388
This is being caused by BIRD trying to reinstall the host's interface subnet routes (e.g. 172.18.203.0/24 for most of ours).

[2015-06-05 12:08] DaveLangridge commented on #569
Added this config on calico-rh01 and rh02.

[2015-06-05 12:53] ed-harrison commented on #337
In that case, @neiljerram can you comment on how important you think this is?  i.e. is it really a 1.0 item?

[2015-06-05 12:53] ed-harrison commented on #571
Indeed...

[2015-06-05 13:11] neiljerram commented on #337
Technically it's a failure to implement part of the Neutron API.  In practice, perhaps not a very important one.

Coincidentally, proper support for allowed-address-pairs has come up today on the ML.  So it looks like there's at least one other existing Neutron implementation that hasn't done this either.

On balance, I feel we could release 1.0 without this.

[2015-06-05 13:38] neiljerram commented on #596
Sorry, I've been meaning to follow up...

My feeling is that it would be a bit confusing for some etcd keys to include a version number that looked like it might be the same as the main data model version number, but actually was something different.  So for that reason I'm inclined to prefer leaving it out, as the code stands at the moment.

Also I guess that it would be sufficiently hard to solv

[2015-06-05 13:40] neiljerram commented on #596
As @matthewdupre asked the question originally, maybe he might also want to comment?

[2015-06-05 14:11] matthewdupre commented on #599
Fixed in #627.

[2015-06-05 14:11] #599 closed

[2015-06-05 14:15] neiljerram commented on #328
My guess is that we're close enough now to call this done for 1.0.  @Lukasa fixed the biggest problem as part of the HA rewrite, i.e. calling provide_felix_config() at the _end_ of the resync processing, instead of at the _beginning_.

[2015-06-05 15:23] fasaxc commented on #393
Agree I think this can be closed.

[2015-06-05 15:23] #393 closed

[2015-06-05 15:29] fasaxc commented on #419
@Lukasa I wasn't thinking that we'd require 1.8+, just that we should make sure that python-etcd and/or our code supports it properly.

Actually, we might already be "good enough" in this regard even if python-etcd doesn't have good support for the new urllib3 versions.  We now catch the base exception types from `urllib3`, `httplib` and `socket` and trigger a full reconnection.  Hard to see how a

[2015-06-05 17:05] matthewdupre commented on #388
Fixed.

[2015-06-05 17:05] #388 closed

[2015-06-05 17:37] fasaxc commented on #618
With me to have a think if there's any race conditions with a new endpoint being added on the same host with reused IP.

[2015-06-05 17:44] fasaxc commented on #624
Conflict between log-rotate and felix?

[2015-06-05 17:52] fasaxc commented on #626
Triggering the resync looks like another instance of https://github.com/Metaswitch/python-etcd/issues/6.  That timeout should be passed up to our code but it's getting caught and wrapped so our code resorts to a full resync.

OTOH, should we be hitting a timeout here?  Was there anything going on that might have caused the timeout from etcd?

[2015-06-05 20:39] fasaxc opened #631 "Rule with 0 in port range is rejected by kernel, prevents profile update"
The multiport iptables extension doesn't like 0 as a tcp port but OpenStack allows 0 to be configured.  We should firewall against this in Felix:

* If 0 really is a valid port for the given profile, we should figure out how to match on it.
* It it is not a valid port, then we should probably just program range 0-n as 1-n instead.

The impact of trying to program a bad rule like this is that the i

[2015-06-05 23:49] fasaxc commented on #624
@plwhite I think you wrote the logging setup, are you a good person to look at this?

[2015-06-08 07:20] DaveLangridge commented on #626
I don't think there was a reason for the timeout. This node was controll + compute, so plugin was writing, and felix reading. The other (compute only) node didn't see any issues.

[2015-06-08 08:40] DaveLangridge commented on #40
I just hit this on RHEL7 calico + kilo. Compute node was working OK, then I rebooted. After reboot the checksum rule was missing, and cirros VMs didn't get their IP.

[2015-06-08 15:17] neiljerram commented on #40
I suspect this might be a genuine bug connected with the 'use_namespaces' option.  Please could you try, in `/etc/neutron/dhcp_agent.ini` on a compute node, changing

    # use_namespaces = True

to

    use_namespaces = False

Then reboot and see if that solves the problem for that compute node.

The situation here is that for Calico operation we always want the DHCP agent to behave as though use

[2015-06-08 15:34] DaveLangridge commented on #40
Didn't help. I set this to 'False' and rebooted, the started the VM. No IP.

[2015-06-08 15:40] neiljerram commented on #40
Ah, there's a traceback in dhcp-agent.log:

    2015-06-08 16:29:01.208 2099 ERROR neutron.agent.dhcp.agent [-] Unable to enable dhcp for 7513f4e6-1b25-406c-b22c-96d5a48078aa.
    2015-06-08 16:29:01.208 2099 TRACE neutron.agent.dhcp.agent Traceback (most recent call last):
    2015-06-08 16:29:01.208 2099 TRACE neutron.agent.dhcp.agent   File "/usr/lib/python2.7/site-packages/neutron/agent/dhcp/a

[2015-06-08 16:00] neiljerram commented on #40
Addressed by https://github.com/Metaswitch/calico-neutron/pull/12

[2015-06-08 16:07] neiljerram commented on #40
Possibly what we should now do - to fix this properly for all platforms, and close this issue - is (in the core Calico repository):

- backport the upstream Kilo fix to our Icehouse and Juno versions of Neutron

- remove the CHECKSUM and iptables-save lines from debian/calico-compute.postinst and rpm/calico.spec.

Thoughts?

[2015-06-08 16:12] nbartos commented on #40
I agree in general, but I would definitely use a slightly different rule than the one in openstack.  The one currently in openstack will mangle packets routed in from other sources (VMs or outside), not just ones going from the host to the VM.  Instead of using the PREROUTING chain in the mangle table, the OUTPUT chain should be used.  Additionally, an interface should be specified to limit the sc

[2015-06-08 16:23] fasaxc commented on #626
@DaveLangridge does that mean that you were directly connected to the etcd master, rather than a proxy?

[2015-06-08 16:35] neiljerram commented on #40
Thanks @nbartos.  I think the right thing would be to get those changes upstream in OpenStack, if we can motivate them sufficiently.

(Note: it's POSTROUTING that it currently used by OpenStack and our install time stuff, not PREROUTING.)

For OUTPUT instead of POSTROUTING: Yes, this sounds to me like an unambiguous win, as there can be no need for forwarded packets to hit this rule.  I've comment

[2015-06-08 16:46] nbartos commented on #40
Thanks for catching my typo on the chain name.  Yes I agree changing the chain is the most important thing, the interface less so.  I'm just in the habit of making things of this nature as specific as possible, to avoid unintentional consequences.  While I can't at the moment think of a case where things would break without specifying the interface, I've definitely been bitten by issues in the pas

[2015-06-08 17:21] matthewdupre commented on #509
The Icehouse and Juno fixes are now merged.

We still need to create a fix for Kilo though.

[2015-06-08 21:36] fasaxc commented on #626
No etcd restarts or anything?  I can repro that by hitting etcd with a SIGKILL, but only when I'm directly-connected.

[2015-06-08 21:55] fasaxc commented on #424
Investigated this and found that Openstack does not allow either "-1" or an empty string for the type when a code is specified.  Horizon gives an error when I try that.

Tested that on Ubuntu, version: 2014.1.4-0ubuntu2calico0.18.2

[2015-06-08 21:57] fasaxc commented on #424
@DaveLangridge do you have a 2014.2.2 deployment handy?  If so, please can you check that Horizon rejects an ICMP rule with only a code and no type?  (It's worth trying "-1" and "" for the type.)

If it's the same on the more recent version then I think we can just close this out.

[2015-06-09 00:20] fasaxc opened #635 "Updated security group rules but no etcd update"
I updated the security group rules in the default group through horizon but Calico didn't seem to notice (I used `curl -v 'http://localhost:4001/v2/keys/calico?wait=true&stream=true&recursive=true'` to do a watch but saw no updates).  Updating rules in another group did work and I saw updates as expected.

The group is in use by a VM: http://calicobobcat-ci01/horizon/admin/instances/da8993cd-b433-

[2015-06-09 00:22] fasaxc commented on #635
Prior to this, I was messing around with security group rules, trying to input invalid values.  There may be some odd rules configured in the default group.  There's a chance they're the cause.

[2015-06-09 04:18] fasaxc commented on #615
@plwhite I think @alexwlchan is on vacation, are we likely to get any more diags or is anyone able to repro?

[2015-06-09 06:57] DaveLangridge commented on #424
I only have kilo sytems. A code with no type is rejected on these. I agree that this can be closed.

[2015-06-09 07:09] DaveLangridge commented on #626
Yes. Plugin and felix both on calico-rh01 directly connected to ectd master.

[2015-06-09 10:08] Lukasa commented on #196
So the *right* fix here is to split the INPUT/FORWARD chains into two separate ones. Sadly, while conceptually simple, this will touch a *lot* of the Felix code and is really a pretty substantial refactor.

The other option is to always allow DHCP requests aimed at the box from a tap interface. That will work just fine, because we allow compute hosts unrestricted ability to respond to their hosted

[2015-06-09 11:00] matthewdupre commented on #596
I haven't had the time to think through the upgrade process in enough detail to come to an opinion here, but here are my current thoughts:

- I'm not convinced we need to version the leader election keys independently (is it really such a bad thing if there's a separate leader for v1 and v2, each owning the appropriate parts of the data model?  I don't have the right background knowledge, but this

[2015-06-09 13:02] matthewdupre commented on #624
I think in general we need to sort out our log rotation story.  There's also a problem on Ubuntu, where Felix does its own log rotation, but so does upstart, leading to ridiculously named log files.

[2015-06-09 13:04] matthewdupre commented on #624
@DaveLangridge could you please confirm that there was only one Felix running?

[2015-06-09 13:12] matthewdupre commented on #631
We should find out what vanilla OpenStack does with this rule.

[2015-06-09 13:13] DaveLangridge commented on #624
Yes. Only one felix.

[2015-06-09 13:22] Lukasa commented on #509
Ok, I'll move the fix to Kilo.

[2015-06-09 13:26] Lukasa commented on #509
We're actually no longer convinced this is needed, so I'm putting this back on the pile until we're sure.

[2015-06-09 13:55] matthewdupre commented on #15
We need to look at this again - at least for documentation, even if we don't actually fix it.  Our docs tell people to create 3 networks (http://docs.projectcalico.org/en/latest/opens-external-conn.html).

[2015-06-09 14:05] matthewdupre commented on #34
Our configuration story is now quite different.  There are still several different sources, but there are good reasons for having them, and the possibility of inconsistent configuration is much reduced.

[2015-06-09 14:05] #34 closed

[2015-06-09 14:13] matthewdupre commented on #163
@Lukasa - any idea whether this is still likely to be an issue?

[2015-06-09 14:15] lwr20 commented on #163
I can confirm that this is working regularly in our FV runs.  So its probably no longer an issue :)

[2015-06-09 14:16] #163 closed

[2015-06-09 14:26] matthewdupre commented on #249
This is likely similar to #624.

[2015-06-09 14:29] matthewdupre commented on #324
@plwhite Agreed - since you own the scale test plan, can you please try and find out whether this is an actual problem.

[2015-06-09 14:47] Lukasa commented on #405
I *believe* we're ok, but we really should test it.

[2015-06-09 14:55] matthewdupre commented on #572
Similarly removing from 1.0, we can't fix it without something to go by.

[2015-06-09 15:02] matthewdupre commented on #510
I don't see why we'd make a change to our BIRD config to support anycast, when as far as I'm aware it's currently impossible to set that up in OpenStack?  Am I missing something here?

[2015-06-09 15:05] matthewdupre commented on #467
Agreed, I think this is useful too.  Changing this to a documentation issue.

[2015-06-09 15:13] matthewdupre commented on #424
Sounds like this isn't possible - closing it.

[2015-06-09 15:13] #424 closed

[2015-06-09 15:13] lxpollitt commented on #510
Is the BIRD config we are talking about scoped only at OpenStack?  If it is just part of the standard calico repo then potentially people doing integration with other orchestrators would use it.

[2015-06-09 15:28] lxpollitt commented on #596
The OpenStack part of etcd is plug-in specific.  There will be other plug-ins.  We won't be the only people writing them.  Therefore each plug-in having its own space in the data model, versioned independently, seems like the right thing to me.  Hence me suggesting /calico/openstack/v1/  (rather than /calico/v1/openstack).

Versioning a data structure that is used to communicate between distribute

[2015-06-09 16:04] matthewdupre commented on #569
@DaveLangridge Did it work?

[2015-06-09 16:10] DaveLangridge commented on #569
I don't think it made things worse. No detailed testing of neighbors flapping.

[2015-06-09 16:39] fasaxc commented on #635
Sounds like @neiljerram didn't get to this so I'm going to take a look.

[2015-06-09 16:41] fasaxc commented on #635
Hmm, the bad request runs in a different process than the good one.  the relevant lines of the log seem to be these:

In the bad case, calico simply doesn't get invoked:

[code]

[code]

[2015-06-09 16:52] fasaxc commented on #635
I split the logs into logs from the parent process, and logs from the good and bad child process.  The parent process is the Calico master.  The good process has a couple of hits for mech_calico.  The bad process doesn't have any entries for mech_calico at all.  Looks like mech_calico was never started in the bad process.

[2015-06-09 17:16] fasaxc commented on #635
Neutron is configured with 2 API workers and 2 RPC workers.  Might be relevant, RPC workers are experimental.

[2015-06-09 17:54] fasaxc commented on #405
@matthewdupre I think we should beat on this before 1.0

[2015-06-09 17:55] fasaxc commented on #328
@neiljerram what's left to do apart from that?  I think we can close this.

[2015-06-09 17:59] fasaxc commented on #233
@matthewdupre I think one of the customers I'm supporting cares about this (they plan to use a small IP pool with high churn).  I think we need to bring it into 1.0.

[2015-06-09 18:02] fasaxc commented on #120
Grepped the codebase and don't see any uses of time.time() that aren't simply for logging purposes.  We can live with for 1.0.

[2015-06-09 18:49] fasaxc commented on #635
Think I've got to the bottom of this.

It's a chicken-and-egg problem:  we rely on `CalicoNotifierProxy` to tell us when there's a security group rule update but the proxy is only inserted once we've received the first request.

If the first request is a port update then we're good; if it's a security group update then we'll miss it.

[2015-06-09 18:51] neiljerram commented on #328
@fasaxc Nothing specific - but perhaps a careful review of how the plugin processes dynamic port and SG updates, to check that it always updates etcd such that the etcd DB is consistent at every step.

[2015-06-09 18:57] neiljerram commented on #635
That makes sense, good spot. I guess this was introduced during the HA work, as prior to that the CalicoNotifierProxy setup was part of the start of day processing.

[2015-06-09 19:00] fasaxc commented on #635
Confirmed:
* Logs showed only SG updates for the bad child process.
* Spawned a bunch of VMs, mech_calico sprang into life in the bad process after receiving a port-related update.
* Subsequent SG updates processed as normal.

[2015-06-09 19:01] fasaxc commented on #635
Workaround is to spawn lots of VMs at start-of-day in order to trigger all mech_calico drivers to be initialised.

[2015-06-09 19:03] fasaxc commented on #635
@neiljerram @ed-harrison I don't think I'll be able to work on this any more today; Neil, I saw that you were progressing getting some sort of post-fork notification upstream.  I can't see another way to handle this properly.

I do think it should be a high priority, we have had customers impacted by this and it does affect security because SG updates appear to have been handled but they haven't.

[2015-06-09 20:25] fasaxc commented on #631
@matthewdupre given how limited Openstack rules are, I bet they use `-m tcp -sport a:b`, which is what my fix does to handle 0.  We were using `-m multiport -sports a:b,c,d`, which allows for lists of ports but it doesn't allow 0.  There'd be no reason for them to use that since they didn't support lists.

[2015-06-10 08:38] plwhite commented on #615
I can repro easily enough - just set up a system with a lot of data in it (a few thousand endpoints, a thousand hosts) and wait a bit. You'll see spikes of CPU every 60 seconds.

This is caused by the OpenStack plugin resyncing its data (we think). Most likely it's a simple bug where the data read back is not as expected and so it rewrites something.

If you want to investigate, feel free to take

[2015-06-10 08:41] Lukasa commented on #615
That's almost certainly right.

OpenStack resync is something we need to continue to think about over the next few weeks to try to reduce its impact. I'm going to sketch out some possible enhancements and solicit feedback from the team, I think.

[2015-06-10 09:09] plwhite commented on #249
I think it is in fact exactly the same issue - so we should close as a duplicate, though I could be persuaded I'm wrong.

[2015-06-10 09:13] plwhite commented on #120
Agreed. In fact, we could easily fix this by changing about three lines of code, so perhaps worth doing that and cleaning the issue, but no urgency and certainly not required for 1.0.

[2015-06-10 09:14] plwhite commented on #459
I do not believe that Felix has this behaviour. It did once, but fixes have gone in since. Hence closing - @Symmetric if you believe I'm wrong please reopen.

[2015-06-10 09:14] #459 closed

[2015-06-10 09:22] matthewdupre commented on #596
@lukasa @spikecurtis do you agree?

[2015-06-10 09:28] Lukasa commented on #596
I think I honestly don't care.

[2015-06-10 09:36] matthewdupre commented on #581
These logs are written for every rule in a profile every time that profile is used (new endpoint in it, rule / membership change) and during profile updates.  The main log for writing a profile is only debug, so yes, these shouldn't be higher precedence.

[2015-06-10 09:38] #581 closed

[2015-06-10 09:56] matthewdupre commented on #571
The original cause of this could perhaps be issue #635?

There's still the question of improving the resync to actually refresh the security groups though.

[2015-06-10 10:33] #478 closed

[2015-06-10 10:39] #596 closed

[2015-06-10 11:19] matthewdupre commented on #569
I had a look at this myself:

- you have to set -R in BIRD_ARGS - 'graceful restart' on its own does nothing, and
- it only applies to unplanned restarts (e.g. segfaults), not planned ones (such as service restarts).

[2015-06-10 13:09] Lukasa opened #644 "Etcd data model doc is out of date"
Its keys aren't versioned.

[2015-06-10 13:15] DaveLangridge opened #645 "Empty SG chain after power cycle"
The test creates some VMs, does some pings, then power cycles one of the compute nodes. Then it does some more ping tests. The test fails more times than it passes (2:1 at a guess). A similar test which reboots the host passes most/all of the time.

When it fails, the test script can’t ssh into a VM on the host that’s been cycled. Looking at the iptables, the structure seems to be present, but mos

[2015-06-10 13:30] lwr20 opened #646 "Latest version of Glance and Calico don't play nice together"
Following an attempt to upgrade my redhat system using "yum update -y", my openstack rig stopped working.  Specifically Glance refused to do very much, complaining:

2015-06-10 11:51:42.035 2001 ERROR nova.api.openstack.compute.contrib.admin_actions [req-4a4a9f60-7f08-4417-a74e-edca5e7e1325 None] Error in migrate No module named cryptography.hazmat.bindings.openssl.binding
Traceback (most recent c

[2015-06-10 13:31] DaveLangridge commented on #645
Marking as 0.24 for now. This isn't going to occur ofter (power cycle, and not 100% of those), but when it does occur it is silent, and doesn't recover.

[2015-06-10 15:29] Lukasa commented on #646
The specific problem is that glance works with the version of PyOpenSSL that Red Hat shipped, which is (sadly) 0.13.1. This means that we have a problem: glance requires PyOpenSSL at a lower level than we do.

We do need to confirm that everything is ok here, because I believe that we probably screwed up the install, but we'll see.

[2015-06-10 17:52] lxpollitt commented on #569
@robbrockbank I think you've looked into BIRD graceful restart quite a bit.  Does what @matthewdupre says above fit with your understanding too?  Does this mean that for confd driven configuration updates BIRD will not even attempt graceful restart?

[2015-06-10 17:53] lxpollitt commented on #569
@djosborne may also be able to comment, given his prior BIRD is the word knowledge.

[2015-06-10 18:10] robbrockbank commented on #569
In calico-docker we do run BIRD with the -R flag as well - that is required.  Restarting BIRD with a SIGHUP will invoke graceful restart, but stopping and restarting the service will not.  IIRC correctly a service restart is fine, but I'd need to check to be sure.

We also hit a couple of issues:

1) A bug in BIRD whereby we were using templates and unnamed protocols.  Graceful restart does not wo

[2015-06-10 20:42] fasaxc commented on #645
This is odd.  The rules actor gets the ipsets that it depends on and then programs its chains:
[code]
Then the IpsetUpdater receives the update, logs it out and says it succeeded:
[code]
The latter should have replaced the `felix-p-_a0438770e0e8efc-[io]` stub chains with the correct versions.

Some ideas:
* this is during the graceful restart window so that could be causing a problem (but then res

[2015-06-10 23:13] fasaxc opened #647 "Periodic resync thread can run before self.transport is set"
We spawn the periodic resync thread before we set the transport.  That should be fine because we don't yield the greenlet.  Except, we log, which does IO, which yields the greenlet.

Basing this on this log:
[code]
I don't think neutron died as a result, which could be a problem.

[2015-06-10 23:14] fasaxc commented on #647
@Lukasa this touches the initialisation, which I think you're already working on for the DB-init stuff.

[2015-06-10 23:32] fasaxc commented on #647
Oh, maybe this was a result of the deadlock caused by #641, which I was testing at the time.  Still, the logging could let this slip through, I think.

[2015-06-11 12:07] plwhite commented on #324
Agreed. Doing nothing until we know there is a real problem here.

[2015-06-11 16:52] matthewdupre commented on #510
This kind of BIRD config change would go into calico-chef (OpenStack specific), and into the templates used by the calico-gen-bird-conf scripts, which I believe are also only used for OpenStack.

[2015-06-11 16:55] matthewdupre commented on #405
That sounds sensible, but we shouldn't be tracking generic testing using issues.

There's no specific issue we know of here, so @lwr20  could you please check this is in the test plan and then close the issue.

[2015-06-11 16:58] lwr20 commented on #405
It *is* in the test plan, but likely not in 1.0 at this point.

@fasaxc can you talk to @ed-harrison if you need this prioritised please?

[2015-06-11 17:14] matthewdupre commented on #233
OK, bringing it in.

[2015-06-12 09:19] matthewdupre commented on #569
I tried a service restart and it wasn't graceful.

I think this is the main problem - I'd have thought our biggest use case for BIRD graceful restart is software updates, and while I don't know if those exactly use service restart or stop/start, I suspect they do.

The templates are interesting.

[2015-06-12 10:10] MatMeredith commented on #233
FYI, I've repro'd this using the FV scripts this morning and this is still happening with the latest Calico code.  Trace from the compute hosts as follows...

Jun 12 09:53:15 calico-cidev14 dnsmasq[22870]: failed to create listening socket for fe80::261:feff:feed:cafe%tapf323d652-0a: Address already in use
Jun 12 09:53:16 calico-cidev14 dnsmasq-dhcp[21908]: DHCPDISCOVER(ns-67569dc2-c9) fa:16:3e:6d

[2015-06-12 10:13] neiljerram commented on #233
When this happens, does the dnsmasq config (at /var/lib/neutron/dhcp/<network-id>/host) still contain an entry for the old lease?

[2015-06-12 11:28] neiljerram commented on #233
@MatMeredith reran the test up to the point where one of the compute hosts had the following in syslog:

    Jun 12 12:01:48 calico-cidev12 ntpd[3907]: Listen normally on 18 tap28479a4d-69 fe80::261:feff:feed:cafe UDP 123
    Jun 12 12:01:48 calico-cidev12 ntpd[3907]: peers refreshed
    Jun 12 12:01:48 calico-cidev12 ntpd[3907]: new interface(s) found: waking up resolver
    Jun 12 12:02:46 calic

[2015-06-12 15:39] #608 closed

[2015-06-13 00:16] fasaxc commented on #647
Given I was testing bad code, I'm inclined to punt this.

[2015-06-15 07:38] Lukasa opened #652 "Properly consume Neutron security group updates"
Assuming #641 is merged, we'll be relying on a fairly brittle monkeypatch to get hold of security group updates on Neutron. This is fundamentally because the ML2 model takes control out of our hands, assuming that the mechanism driver does not want access to security group rule changes.

We should aim to write code that does this properly. There are a few ways I can see of doing it:

1. Become a f

[2015-06-15 10:25] Lukasa commented on #635
Fixed in #641.

[2015-06-15 10:25] #635 closed

[2015-06-15 10:26] Lukasa commented on #571
Please note this is still not fixed, but the cause of *this specific instance* of the issue is fixed.

[2015-06-15 12:30] Lukasa opened #654 "Update data path doc to include more detail on 'first hop'"
From IRC:

[code]

[2015-06-15 14:39] matthewdupre commented on #509
@neiljerram @fasaxc did you two decide whether this fix is needed or not?

[2015-06-15 15:14] matthewdupre commented on #498
Felix does actually support 'all protocols' rules - you just mustn't specify a protocol at all in etcd.

For example:

`etcdctl get /calico/v1/policy/profile/6fe9fe39-49ce-4a8c-b1ab-1ae4958f60f4/rules
{"outbound_rules": [], "inbound_rules": [{"ip_version": 4, "protocol": "tcp", "src_net": "77.0.0.0/8", "dst_ports": [332]}, {"ip_version": 4, "src_net": "9.0.0.0/8"}]}`

causes Felix to program the f

[2015-06-15 15:15] #498 closed

[2015-06-15 15:31] neiljerram commented on #509
@fasaxc and I discussed, and we agreed that we don't yet fully understand whether this fix is needed.  But we don't want to back it out, because we have customers with highly scaled systems and whose Neutron code includes this change - we don't want to risk breaking those systems.

We need to do more of our own scale testing to pin this down.  The timescale for that is not 1.0, but the timescale o

[2015-06-15 15:43] fasaxc commented on #645
@DaveLangridge @matthewdupre Any progress on this one?  There's certainly some more logs we could add to the IptablesUpdater.  Maybe a warning log whenever it programs a stub chain (one with ""WARNING..." in its comment).

[2015-06-15 15:54] neiljerram commented on #652
Or, I think, a 4th option:  Per Kevin Benton's email at http://lists.openstack.org/pipermail/openstack-dev/2015-June/066218.html, use Neutron's callbacks registry to implement a (general) way for mechanism drivers to be notified after the forking has completed; then use that in the Calico mechanism driver to set up the CalicoNotifierProxy.  Then back port all of that to all the OpenStack releases

[2015-06-15 15:54] fasaxc commented on #645
(The counterpoint is that those chains are also present in the mainline case but they should be transient, only there for a second or so.)

[2015-06-15 16:42] fasaxc commented on #631
Fixed in #649.  Turned out to be over-active validation rather than kernel limitation.

[2015-06-15 16:42] #631 closed

[2015-06-15 17:52] matthewdupre commented on #646
I've gone from an up to date OpenStack Juno install on RHEL7, and installed Calico without seeing any issues.  I can import cryptography.hazmat.bindings.openssl.binding without issues, and Glance starts up fine.  VM boots work etc.

[2015-06-15 17:55] matthewdupre commented on #646
The only possible remaining issue here is if the update from an older system with Calico already installed fails.  @Lukasa - you looked at this originally: do you think that's worth testing or should we just close this?

[2015-06-15 18:02] Lukasa commented on #646
I think it could fail, yeah. The particular problem is that we install pyOpenSSL quietly in the background, and RHEL might blow it up when Glance ends up requiring it. Just conjecture now though.

[2015-06-16 00:25] fasaxc opened #656 "Show command doesn't show icmp_code value from rules"
Felix supports setting icmp_code in the rules but calicoctl doesn't show it.

[2015-06-16 00:25] #656 closed

[2015-06-16 21:43] spikecurtis opened #657 "If /calico/v1/ipam/v4/pool/ is not JSON, Felix falls over."
This was a change for IP-in-IP support.

After Felix hits the exception, it dies.

Either that change is back compatible, and we should not hit this error, or the data model version number needs to be bumped.

https://transfer.sh/ZvIgE/diags-160615-142633.tar.gz

[code]

[2015-06-17 09:50] plwhite commented on #657
Should probably be with @fasaxc

[2015-06-18 10:20] matthewdupre commented on #645
We don't believe this is necessarily a case of Felix programming anything wrong - it seems more likely that something else is clobbering IPTables and Felix never fixes it.

Having said that, we've been unable to reproduce, so we've shelved it until Dave gets back from holiday next week.

[2015-06-18 10:30] matthewdupre commented on #509
@neiljerram OK - presumably that means we need to rebase the fix to Kilo before 1.0, and then pass it to @plwhite to test?

[2015-06-18 12:17] #196 closed

[2015-06-18 20:45] fasaxc opened #659 "New felix-INPUT chain prevents exposing service from host"
Piston Cloud expose more than just the metadata service from the host to VM.  Our tightening up of the rules under #636 has broken that because the packets from VMs hit our "DENY from tap+" rule before getting to Piston's own rules.

In general, I think we need some supported way to do this.  Ideally, a way that encompasses the special-case of the metadata service in a generic way.  We also need a

[2015-06-18 20:48] nbartos commented on #659
It should be noted that in the final solution, the VM's security policy should be respected for all the other services we are allowing.  For example if the VM's security policy states to drop all outbound, then the VM shouldn't be able to connect to the services we are running on the hypervisor.

[2015-06-18 21:11] Lukasa commented on #659
Agreed.

I think the correct approach is to add an extra bit of configuration, stored in etcd, that essentially provides for something like a global security profile that applies to the INPUT chain.

[2015-06-18 21:24] nbartos commented on #659
It seems like it could be done more elegantly than that somehow (also keep in mind our current utilization of etcd and how it gets wiped often).  At the moment I'm not seeing a disadvantage to always taking into account the security policy on the INPUT chain.

[2015-06-18 21:36] Lukasa commented on #659
Well, the biggest issue is preventing tenants from configuring 'allow all OUTBOUND' and then port scanning their host looking for vulnerable services. We do need some form of denial of access for tenants and the fabric.

I agree that we can take into account the tenants security policy, that's a no brainer. What I was talking about in this case is how we allow you to offer access to your services

[2015-06-18 21:42] nbartos commented on #659
I believe if this is done correctly, the other rules (and/or the default policy) set up before felix starts (that end up after the felix jumps) will take care of that.  I don't think Calico should override what the default policy is on the host.  Anyone concerned about security (and _everyone_ should be) should have set their default policy on INPUT and FORWARD in the filter table to DROP.

[2015-06-18 22:06] fasaxc commented on #659
@Lukasa I'm wondering if we should back out the input chain change for now and plug the 127.0.0.1 hole directly.  Then we can spend some time designing this piece (it overlaps with a lot of other areas too, such as bare-metal support and network-wide ACLs).

@nbartos just to make sure I'm following, are you suggesting that felix should let packets fall off the bottom of its chain (to be processed

[2015-06-18 22:09] fasaxc commented on #659
Also wondering how we solve the problem of not clobbering pre-existing rules.  Felix will always insert its rules at the top of the chain, which may be incorrect.  One way that springs to mind is to make it configurable which chain felix inserts its top-level rule into.  Then the operator can have ownership of the INPUT chain and jump to us when they're ready.

[2015-06-18 22:26] nbartos commented on #659
Yes I was suggesting it should fall off the bottom of the chain (or explicitly return, depending on what is done).  I believe this is what was happening before.  It probably deserves more thought too, about how these sort of things should mesh into the VMs security policy rules.  The VM security policy should always be respected.  For example if the VM doesn't have a matching allow rule on the out

[2015-06-18 22:43] fasaxc opened #660 "Make optional for felix to drop unmatched packets in INPUT chain"
Currently, felix drops any packets from a VM that don't match our whitelist in the INPUT chain, this is too aggressive if the operator has deployed services on the host that should be accessible to VMs. It's also asymmetric, because it has no impact on a VM's ability to contact another host (which will see the packet come in over eth0 instead, for example).

Suggest we make the action on this rule

[2015-06-18 23:30] fasaxc commented on #659
@nbartos I've put up a PR (#661) that should resolve this.  It reinstates the policy on the input chain and makes the end-of-chain action configurable for the felix-INPUT chain.  It defaults to DENY but can be set to RETURN or ACCEPT using the config file.  The new parameter is "DefaultEndpointToHostAction".

I've given it a spin locally and I'm seeing the rules I expect but I'd appreciate if you

[2015-06-19 08:39] #644 closed

[2015-06-19 09:40] MatMeredith commented on #645
I ran this test this morning (actually unaware of this issue).   The test ran (in that it eventually completed), but failed due to the following error logs from Felix at the point at which the VM on the power cycled compute host was restarted.   Are these of any interest?

--------------------

=== LOG 2015-06-19 09:43:37 ERROR [pid 1819] ===
calico.felix.fiptables 618: iptables-restore failed wit

[2015-06-19 11:30] MatMeredith commented on #645
Another run, another different set of Felix errors following power cycle of the compute node.   Again it seems that everything recovered this time though -- new VMs were able to be created and connectivity was confirmed to be correct.

2015-06-19 12:25:02,518 [ERROR][10998] calicotest.openstack.basetest 125: ***** Start of errors in logs from /var/log/calico/felix.log on calico-cidev13.datcon.co.u

[2015-06-19 12:05] MatMeredith opened #666 "VM stuck with status shutoff following power cycle of compute host"
Following power cycle of compute host, I've seen VMs getting stuck in state shutoff/shutdown.   Any attempt to restart the VM fails with the following logs in libvirtd.log on the compute host.

Jun 19 11:10:17 calico-cidev14 kernel: [ 1298.116871] type=1400 audit(1434708617.071:75): apparmor="DENIED" operation="open" profile="/usr/lib/libvirt/virt-aa-helper" name="/etc/nsswitch.conf" pid=3173 comm

[2015-06-19 14:47] neiljerram commented on #509
I'd rather not just port this fix to Kilo, because I guess (70%) that it isn't needed in practice for Kilo, and because I don't want to add unnecessarily to the amount of Neutron patching that we're carrying for Calico, that will eventually have to reconciled somehow against upstream Neutron.

To close out this issue properly, we should rerun the original churn test with current Neutron tip and -

[2015-06-19 14:48] matthewdupre commented on #509
We've agreed that we're not going to close this down inside 1.0.

[2015-06-19 14:51] #659 closed

[2015-06-19 14:51] #660 closed

[2015-06-19 14:55] Lukasa opened #668 "Make INPUT chain generic and configurable."
The code that handles the INPUT chain is really complicated, and probably needs to be refactored to be cleaner. It may also want some tests.

We also need to consider whether we need a more formal approach for handling the INPUT chains.

See #661, #659, #660, #636, #658, #665, and #667 for examples of the problems we've encountered here.

[2015-06-19 15:38] fasaxc commented on #668
I'd like to make this all generic and configurable (we shouldn't have special cases for OpenStack metadata, DNS, DHCP, etc).  However, there are lots of requirements to consider and lots of future enhancements that this overlaps with:

* Need the metadata IP to be settable from the config file.
* Need NAT and filter policy.
* In future, we'd like to have global policy (to allow the network securit

[2015-06-19 15:42] fasaxc opened #669 "Documentation is fuzzy on security configuration"
Calico currently provides application-level firewalling: the developer of an app/admin of a workload configures the ports that they want to open etc.  However, that's only one piece of the puzzle.  We need to be clear about how Calico fits into an overall security architecture and where our responsibilities end.

For example, to secure OpenStack, running Calico isn't enough right now; you very lik

[2015-06-19 15:51] matthewdupre commented on #669
Note that 'configure selinux' clashes with the RHEL install instruction to disable selinux on the compute hosts (it's disabled by default on Ubuntu, so we may well have the same issue there).  As far as I'm aware, we haven't done a detailed investigation into what the cost of this is, and whether there's a more fine grained option.

[2015-06-19 17:17] matthewdupre commented on #458
For another one, we saw the following log while the controller (with the etcd cluster) was rebooting.  This is misleading and excessively scary.

[code]

[2015-06-19 17:58] fasaxc commented on #645
@MatMeredith That looks like some other process clobbered our iptables rules.  Felix detected the inconsistency and (should have) restarted, fixing the problem.

[2015-06-19 18:02] fasaxc commented on #645
(Or a bug in felix...)

[2015-06-19 18:06] fasaxc commented on #645
@MatMeredith Just spotted your first error report too.  That one looks like someone deleted our chain out from under us too.  That error should trigger felix to restart and fix the chain.

@DaveLangridge I wonder if the host has a job that restores iptables state at boot and it's running concurrently with felix and clobbering our programming.

[2015-06-19 19:10] fasaxc opened #673 "TypeError on periodic resync thread"
[code]

[2015-06-19 19:47] #673 closed

[2015-06-19 20:13] fasaxc commented on #645
@MatMeredith Dug into this a bit more.  iptables-persistent could be the problem in your case, which appears different to @DaveLangridge's.  iptables-persistent runs at bootup and flushes the chains and then fills them with the contents of `/etc/iptables/rules.v[46]`.  I think iptables-persistent logs to syslog when it runs so you could confirm by examining syslog and seeing if it appears to start

[2015-06-19 20:20] fasaxc commented on #645
Scratch that, it only logs to the boot log, which doesn't have timestamps to correlate.

[2015-06-19 23:49] fasaxc commented on #666
@MatMeredith Any reason to suspect this isn't an upstream bug?

[2015-06-20 17:37] Lukasa opened #675 "Only configure conntrack rules for tap+ interfaces"
Raised by @nbartos on the mailing list:

This is a good simplification, and we should make it.

[2015-06-22 09:05] MatMeredith commented on #666
No – that seems most likely.

From: Shaun Crampton [mailto:notifications@github.com]
Sent: 20 June 2015 00:50
To: Metaswitch/calico
Cc: Matthew Meredith
Subject: Re: [calico] VM stuck with status shutoff following power cycle of compute host (#666)

@MatMeredith<https://github.com/MatMeredith> Any reason to suspect this isn't an upstream bug?

—
Reply to this email directly or view it on GitHub<ht

[2015-06-22 10:03] Lukasa commented on #666
Ok, in that case let's close this down until we have any reason to believe otherwise.

[2015-06-22 10:03] #666 closed

[2015-06-22 10:12] #517 closed

[2015-06-22 13:51] Lukasa commented on #624
Closing this as a duplicate of #249, we'll centralise work there.

[2015-06-22 13:51] #624 closed

[2015-06-22 14:03] Lukasa opened #676 "Unhelpful log from Felix when cluster ID changes"
I've labelled this as a Felix bug but it's actually a python-etcd bug, I just want to make sure we track it here.

When the etcd cluster ID changes Felix emits a log that looks like this:

[code]

Note that the UUID is identical. This will *always* be the case, because python-etcd overwrites the expected cluster ID before logging it out. Simple logging bug there, should be easily fixed.

[2015-06-22 14:04] Lukasa commented on #676
(For those who care, the context here is that the etcd proxy fell over and lost its connection to the etcd cluster, causing the cluster ID to become `None`. That may be another bug, by the way: I don't think the cluster ID change is the main problem here.)

[2015-06-22 14:09] eepyaich commented on #419
Given the latest comment from @fasaxc, can we close this @Lukasa?

[2015-06-22 14:15] alexwlchan commented on #676
I had two minutes to spare, so I submitted a fix to python-etcd: https://github.com/jplana/python-etcd/pull/113

[2015-06-22 14:18] Lukasa commented on #676
Hmm: that's upstream. @fasaxc, are we still maintaining any patches against upstream?

[2015-06-22 14:18] Lukasa commented on #676
Also, thanks @alexwlchan!

[2015-06-22 14:19] Lukasa commented on #419
Yup. =)

[2015-06-22 14:19] #419 closed

[2015-06-22 14:38] #132 closed

[2015-06-22 15:20] #657 closed

[2015-06-22 15:35] fasaxc commented on #676
@Lukasa yeh, I think we've got a couple of patches in our tree at the moment.  Upstream was moving pretty fast and they accepted my patch to improve exception handling (which will require felix changes) a little while ago.

[2015-06-22 15:50] Lukasa commented on #676
Ok, cool. So @alexwlchan, we need that patch against the Metaswitch fork as well please!

[2015-06-22 16:00] alexwlchan commented on #615
I've done a bit more testing, and discovered that I can reproduce this bug on the newest version of Calico (0.25). I've also captured a stack of debug logs from Felix, which we can go through to hopefully narrow down the bug. Details [on Google Drive](https://docs.google.com/document/d/1pow7C395OggXN5kSv_3yplq5BcIziCXqYqcxvvY2Rd4/edit).

[2015-06-22 16:11] alexwlchan commented on #676
@Lukasa Here you go: https://github.com/Metaswitch/python-etcd/pull/8

[2015-06-22 16:18] plwhite commented on #615
Here's a relevant part of the logs. Looks like we fail to correctly parse a timeout of some sort.

    2015-06-22 14:00:50,676 [DEBUG][46626/8] calico.felix.actor 245: Finishing message batch
    2015-06-22 14:01:52,051 [ERROR][46626/3] calico.felix.fetcd 371: Unknown etcd error 'Unable to decode server response: timed out'; doing resync.
    Traceback (most recent call last):
      File "/usr/lib

[2015-06-22 16:24] fasaxc commented on #615
I think we fixed this already with an update to our fork of python-etcd: https://github.com/Metaswitch/python-etcd/commit/03ea4610e6bf22e28ff5830953f47f4ea4664efb

The problem was that the timeout was being re-wrapped instead of being propagated.

[2015-06-22 16:27] plwhite commented on #615
Good stuff - so follow on questions.

- This goes away as soon as we take the updated `python-etcd`, i.e. next release (or a release soon), right? Or does something have to happen on that one.

- Are we getting these fixes upstreamed into python-etcd (assuming we are, but not happened yet)?

[2015-06-22 16:31] fasaxc commented on #652
Option 5: update Neutron to allow us to consume those events from an ML2.

Option 6: ask upstream from an architectural way to do it or at least a recommendation?

@neiljerram maybe I'm missing something but it feels like the notifier proxy is also a bit of a monkey-patch.  It just uses a different technique and it still assumes that the object in question is never reinitialised (an assumption tha

[2015-06-22 16:36] fasaxc commented on #572
I don't think we're going to get those logs, lets close unless we see this again.

[2015-06-22 16:36] #572 closed

[2015-06-22 16:46] eepyaich commented on #647
@Lukasa, @fasaxc - do we think this is actually an issue, or was it invalid testing?

[2015-06-22 16:58] fasaxc commented on #647
@eepyaich I think it could still happen if writing to the log happens to block the greenlet.  It'd be hard to hit, though.

[2015-06-22 17:10] alexwlchan commented on #615
I have the latest version of etcd on the scale test rig, but I don't know what version of python-etcd it's using. I'll have a look tomorrow and see if it needs updating. (If so, it wasn't updated by the dpkg's – is that a problem?)

[2015-06-22 17:35] joe-marshall commented on #335
Miroslav is working on this, so I've assigned it to him.

[2015-06-22 17:55] Lukasa commented on #676
Thanks! \o/

[2015-06-22 17:55] #676 closed

[2015-06-22 17:57] Lukasa commented on #647
Agreed, but I think we should just fix it. =) I'm leaving it for now, but I may bring it into 0.26 if I make good progress on those issues.

[2015-06-23 08:17] plwhite commented on #615
I suspect that the version of `python-etcd` in our PPAs is out of date, and hasn't got this fix yet. We could get the version of `python-etcd` direct from the GitHub repo and put that in - might be worth trying if it's quick.

[2015-06-23 08:32] Lukasa commented on #615
I don't *think* that's true, I recall checking yesterday and confirming that it wasn't the case.

[2015-06-23 08:58] alexwlchan commented on #615
So here's the version of python-etcd on my test kit:

    $ dpkg -l | grep etcd
    ii  etcd             2.0.11-1~ubuntu14.04.1~ppa3      amd64        Highly-available key value
                                                                       store for shared configuration
                                                                       and service discovery
    ii  python-etcd      0.

[2015-06-23 09:03] Lukasa commented on #615
I think we released python-etcd mid-cycle, and gave it the release number of the active release at the time. I don't think we missed this.

[2015-06-23 09:14] alexwlchan commented on #615
1. I've just tried to update python-etcd, and apparently it can't find any updates:

   <pre><code><strong>root at calico23 in /h/ubuntu
   # dpkg -l | grep etcd</strong>
   ii  etcd             2.0.11-1~ubuntu14.04.1~ppa3      amd64        Highly-available key value store for shared configuration and service discovery
   ii  python-etcd      0.3.3-1calico0.22.1              all          A python

[2015-06-23 09:39] Lukasa commented on #615
I think what I did was check whether code from Shaun's patch was in the released package, which I believe it was. But maybe I hallucinated the entire procedure, it wouldn't be unheard of.

[2015-06-23 12:18] alexwlchan commented on #615
I've repeated the test with an updated version of python-etcd. It has no effect on etcd usage (etcd's virtual memory usage is somewhat higher, but that seems unrelated). Updated graphs and logs are in Google Drive.

I had another look through the logs: I can't find anything that looks like the etcd timeout message above, so that bug seems to have been squashed. But I did see this log fragment whic

[2015-06-23 13:11] Lukasa commented on #233
I believe this is fundamentally an upstream issue: is that correct @neiljerram?

[2015-06-23 13:29] plwhite opened #683 "Missing docs link to common install steps"
From the ubuntu install instructions, and the RedHat ones.

    Common Steps
    Some steps need to be taken on all machines being installed with Calico. These steps are detailed here.

That's nice - but there is no link here, and no obvious place to go from here.

[2015-06-23 15:39] neiljerram commented on #652
Agreed - but I think down the list compared to the other OpenStack interactions that I'm pushing at the moment.

I forget where we are as regards any immediate problems, though.  Do we have working code at the moment?

[2015-06-23 16:18] Lukasa commented on #652
We do, but it "works" for a given definition of works. It's a monkeypatch, and it's pretty horrible.

[2015-06-23 21:44] fasaxc commented on #668
I think #681 improves this a bit.

[2015-06-23 21:48] fasaxc commented on #626
@DaveLangridge what's the impact of this now we've fixed the python-etcd bug?  I'd expect a log saying there was a timeout but it shouldn't resync.

[2015-06-23 21:49] fasaxc commented on #510
Sounds fine to me, let's close this.

[2015-06-23 21:49] #510 closed

[2015-06-23 22:04] Symmetric commented on #510
Just got back from vacation. For the record, there are the anycast changes that we needed to do in calico-docker:

1. Remove import filters in bird config. Previously the import filter was set to be equal to the export filter, thus filtering out the routes to the spine/”internet” that were being advertised into the node. [https://github.com/Metaswitch/calico-docker/pull/80]
2. Configure add-path o

[2015-06-24 00:02] #618 closed

[2015-06-24 07:48] Lukasa commented on #675
Resolved in #681.

[2015-06-24 07:48] #675 closed

[2015-06-24 07:54] Lukasa commented on #683
Are you sure this is a problem? If you check the rendered page you'll notice that the paragraph in question is the first paragraph in a section (entitled Common Steps), that then describes what those steps are. The most substantial change I'd want to make here is maybe to change 'detailed here' to 'detailed in this section'. Is that sufficiently substantial for you @plwhite?

[2015-06-24 08:39] Lukasa commented on #647
Pulling into 0.26 because we're making excellent progress on this release.

[2015-06-24 09:05] Lukasa opened #689 "Timing window can cause mechanism driver to explode when deleting absent endpoints."
Observed on our FV rig. We managed to hit the perfect interleaving combination of etcd calls, such that the resync thread attempted to delete an endpoint that had been destroyed midway through the resync process. This took out the process with an EtcdKeyNotFound error.

The fix is simple: just tolerate EtcdKeyNotFound when deleting stuff. Who cares if the thing you went to delete doesn't exist?

[2015-06-24 09:12] #249 closed

[2015-06-24 09:12] #616 closed

[2015-06-24 09:18] matthewdupre commented on #683
I can confirm that there is no intention to link to a separate document from there.

[2015-06-24 13:39] #689 closed

[2015-06-24 13:48] plwhite commented on #683
@Lukasa  Yes, that would do it, thanks. It never occurred to me that is what it meant so I think that trivial clarification is needed.

I don't have time to fix before going on holiday so I'm not going to sit on this issue.

[2015-06-24 13:53] #683 closed

[2015-06-24 17:29] eepyaich commented on #646
OK - so we do need to retest this, then?

[2015-06-24 21:46] fasaxc commented on #233
@Lukasa @neiljerram Just to clarify.  In Juno, at least, this is what should happen:

* `dhcp_agent.py` calls reload_allocations on the dhcp driver
* that calls `self._release_unused_leases()`
* `_release_unused_leases()` calls `_release_lease()` for each IP that is no longer needed
* `_release_lease()` shells out to `dhcp_release`, which should be logged in the dhcp agent log.

Updating the hosts

[2015-06-24 21:54] fasaxc commented on #12
@neiljerram sorry to pester but it's not obvious to me why this is not a high priority.  Asking people to change the config inside their VMs is a deal-breaker because that config is usually baked in by upstream.

What is the impact; does the VM just retry?

[2015-06-25 07:53] #647 closed

[2015-06-25 08:09] #669 closed

[2015-06-25 09:29] neiljerram commented on #12
@fasaxc With your work to let router solicits through at all, have you been able to confirm or deny whether this is still a problem?

Anyway, I think we need to look at this again.  If the VM just retried, or if the situation was covered by the unsolicited periodic RAs, I'm not sure why I would have felt the need to recommend that router_solicitation_delay solution.  I think the impact was probabl

[2015-06-25 10:34] Lukasa opened #695 "This is a test issue."

[2015-06-25 10:36] #695 closed

[2015-06-25 13:11] MatMeredith opened #696 "Overwriting the neutron_election key in etcd leaves us permanently with no leader"
Scenario: write a value in to the neturon_election key in etcd and don't specify a TTL.   The current Neutron leader will abdicate because its process ID no longer matches the value in etcd, and no other process will ever take over because the key won't time out.   Even restart of Neutron does not recover from this.

Suggest the easy fix would be for the Elector to check that the key has a (sensib

[2015-06-25 13:14] Lukasa commented on #696
So this is fundamentally a quite low priority bug. It *can* happen, but to have it happen an entity needs to write a key without a TTL into our namespace in etcd. We generally consider etcd to be a trusted DB, so bad data in there is not really something we defend against.

However, we *can* defend against this quite easily so we *should* do it: it's just not something that has to be done right th

[2015-06-25 14:09] alexwlchan commented on #615
I'm seeing similar logs in the plugin log for the test framework:

    Write port {{port info}} to etcd

500 logs at a time, once every 60s, one for every endpoint. I'm going to sprinkle some exception logging through the codebase, so that I can get some tracebacks and work out exactly where the resync is coming from.

[2015-06-25 15:15] DaveLangridge commented on #626
Its now just logging the following every 90s:

2015-03-03 11:13:42,968 [INFO][30133/3] calico.felix.fetcd 199: (Re)connecting to etcd. Old etcd cluster ID was afacd66dd456fea3.
2015-03-03 11:13:42,968 [INFO][30133/3] urllib3.connectionpool 257: Starting new HTTP connection (1): localhost

No exception, so closing.

[2015-06-25 15:15] #626 closed

[2015-06-25 16:12] Lukasa commented on #615
That resync is coming from the resync, which is a 60s timer. What matters is: why does the plugin think all the ports are missing?

[2015-06-26 09:30] matthewdupre commented on #646
I think we should try to, although it might be a bit awkward.  We need to install Calico without updating any packages, and then try and update it.  I'm not totally sure this will be representative though - if it's not then there's not a lot we can do.

[2015-06-26 13:17] DaveLangridge commented on #645
Has the behavior here improved? Now when I run the test it succeeded, but I hit some exceptions, and then it recovered:
2015-06-26 14:05:24,336 [ERROR][1530/6] calico.felix.fiptables 363: Some of our chains disappeared from the dataplane: set(['felix-p-_fa54ada24ca3dc7-i', 'felix-p-_fa54ada24ca3dc7-o', u'felix-from-c2cd573e-a4', u'felix-to-c2cd573e-a4']). Raising an exception.
2015-06-26 14:05:24,

[2015-06-26 15:32] matthewdupre commented on #654
Fix pushed - see #697.

[2015-06-26 15:44] alexwlchan commented on #615
Turns out this was a bug in our simulated scale test framework, not Felix. As part of the resync, mech_calico gets a list of missing ports with `get_ports()` from the Neutron plugin. That gets stubbed out in the test framework as follows:

[code]

Although mech_calico was passing a filter that shouldn't match anything (`{'id': set([])}`) to get a list of missing ports, that was being ignored. Henc

[2015-06-26 15:44] #615 closed

[2015-06-26 15:48] DaveLangridge commented on #645
Just noticed that this set of logs is the same as one of @MatMeredith 's above.

[2015-06-26 15:54] #654 closed

[2015-06-28 17:50] Lukasa opened #699 "Red Hat systems may restart killed Felix processes"
In our systemd service file we set `Restart=always`. According to the systemd docs, [this might not be a good idea](http://www.freedesktop.org/software/systemd/man/systemd.service.html#Restart=):

I suspect that we actually want `on-failure`, not `always`.

[2015-06-29 08:07] Lukasa commented on #190
So I think we can do this with systemd pretty easily by adding the following stanza to the `service` section:

[code]

That would allow us to drop Felix down to its own user and then run with only the required privileges. This is a win in RPM systems. In upstart systems that'll be a bit harder, but I think we can still do it, we just need to fiddle about a bit more.

[2015-06-29 08:13] Lukasa commented on #190
Ah, we also need CAP_NET_RAW I think, because we create a raw socket for listening to netlink. So:

[code]

[2015-06-29 08:33] Lukasa commented on #458
Renamed this because several of the issues discussed here actually affect Felix, not the plugin.

[2015-06-29 08:37] Lukasa commented on #328
I think any concerns about processing of port and SG updates are strictly outside the scope of this issue.

[2015-06-29 08:37] #328 closed

[2015-06-29 08:40] Lukasa commented on #120
Ok, so I checked this out and @fasaxc is entirely right. Given that time.time() is used only for logging it doesn't matter too much what it actually returns, *especially* as it's logged at `debug` level. I think we can consider this *not* a bug.

However, this search did lead me to some code we don't actually use in Felix, so I may remove that.

[2015-06-29 09:05] Lukasa commented on #261
Agreed, we don't need to track this separately.

[2015-06-29 09:05] #261 closed

[2015-06-29 09:44] #120 closed

[2015-06-29 09:50] #699 closed

[2015-06-29 13:20] Lukasa commented on #324
Given that we're doing nothing for now I'm going to close this issue. I'm trying to schedule work for these things, and if we're not even possessed of a belief there's a problem there's no point having this hanging around.

[2015-06-29 13:20] #324 closed

[2015-06-29 13:26] Lukasa commented on #405
Given that this is in the test plan, I'm closing this.

[2015-06-29 13:26] #405 closed

[2015-06-29 13:44] Lukasa commented on #467
This is no longer an enhancement, it's a docs change.

[2015-06-29 13:53] Lukasa commented on #617
We've done some documentation and #623, so I'm calling this done for now.

[2015-06-29 13:53] #617 closed

[2015-06-29 14:02] fasaxc commented on #233
@Lukasa It's upstream unless we've broken the DHCP release somehow.

[2015-06-29 14:05] Lukasa commented on #668
I think for now we can close this. We just need to stay aware of it as we add features in future.

[2015-06-29 14:05] #668 closed

[2015-06-29 14:16] neiljerram commented on #233
I had a partial look at this on Friday.  Suspect there is scope for us to have broken this - in that the aliasing connection between the ns-XXX interface and the TAP interfaces may not be understood by dhcp_release.

[2015-06-29 14:17] neiljerram commented on #233
In other words, possibly dhcp_release is being called, but it's not having the intended effect.

[2015-06-29 14:19] neiljerram commented on #233
Note that dhcp_release works by sending a DHCP_RELEASE protocol message - which the client should respond to, and then dnsmasq sees that response and removes the lease from its internal DB.  dhcp_release does _not_ directly modify dnsmasq's internal DB.

[2015-06-29 14:30] fasaxc commented on #233
Ah, then that may not help if the VM is torn down since it may not be able to respond.

[2015-06-29 14:38] neiljerram commented on #233
Indeed that's another possible problem.

[2015-06-29 14:47] neiljerram commented on #233
Sorry, just rechecked the man page, and it seems I got that all garbled.  There is a DHCP RELEASE protocol message, but it goes to the local server, i.e. dnsmasq.  Here's what the man page says:

       A  utility  which  forces  the  DHCP  server running on this machine to
       release a DHCP lease.

       Send a DHCPRELEASE message via the  specified  interface  to  tell  the
       local DHC

[2015-06-29 15:08] neiljerram commented on #233
Possible problems 1 and 2: DHCP agent does "dhcp_release ns-XXX [ip-addr] [mac-addr]", which delivers the DHCPRELEASE message on the ns-XXX interface.  But:

- ns-XXX is a dummy (as in 'ip link add type dummy') interface in Calico, and might not support delivering messages at all; so dnsmasq might not see anything

- a real DHCPRELEASE from a client would be received by dnsmasq on a tap123-ABCD in

[2015-06-29 15:09] fasaxc commented on #15
Had a dig into the dnsmasq docs and FAQ.  Sounds like there's no easy fix here.  If you want to run multiple dnsmasq processes, it seems they're not supposed to be binding to the same interfaces.

I'm not sure we can fix this in the docs.  We could recommend setting up IPv6 and IPv4 on a single network but hat wouldn't solve the problem of wanting public and private IPv4 addresses.

Options I can

[2015-06-29 15:13] fasaxc commented on #233
As per my comment on #15, maybe we really do need a bridge device or another solution for DHCP.  That would allow each dnsmasq to listen on its own dummy interface but the DHCP packets would get bridged to them all.

[2015-06-29 15:38] neiljerram commented on #40
Related bug: https://bugs.launchpad.net/neutron/+bug/1465280

[2015-06-29 16:04] fasaxc commented on #233
@neiljerram "a real DHCPRELEASE from a client would be received by dnsmasq on a tap123-ABCD interface; the difference between that and ns-XXX might be enough for dnsmasq to ignore the DHCPRELEASE."  Looks like we specify the --bridge-interfaces option to tell dnsmasq to treat all taps as an alias for ns-xxx.

[2015-06-29 16:06] fasaxc commented on #233
Sorry, just saw your comment to that effect!

[2015-06-29 16:09] fasaxc commented on #40
@neiljerram I think we discussed that this has been fixed in kilo so our next action is to port that fix to Juno/Icehouse and remove our own version.

[2015-06-29 16:13] fasaxc commented on #645
@DaveLangridge If felix's chains are being clobbered, then the behaviour will depend on when that happens:

* Very early and it'll clobber the the from-ENDPOINT chain before we insert the rule into the FORWARD chain
* A bit later and we'll catch it at cleanup time.
* After that, we're unlikely to spot it.

[2015-06-29 16:16] fasaxc commented on #645
I had a play at reproing this locally, trying to see it if was iptables-persistent causing the issue.  I couldn't seem to get it to break on Ubuntu.  iptables-persistent always runs before felix starts.

To verify that, I actually hacked the iptables-persistent script to print before it started applying the updates.  Also verified the upstart job for felix starts on the correct event to make that

[2015-06-29 16:18] Lukasa commented on #15
I'm strongly +1 on the namespace approach. Doing anything with bridges is going to be a *massive* chore.

[2015-06-29 16:23] DaveLangridge commented on #645
I've seen the two sets of logs above, plus the case where felix doesn't spot it. I assume these are your 3 cases. We don't see this problem at all for the equivalent reboot test. Only for power cycle.

[2015-06-29 16:25] matthewdupre commented on #646
I've also tried it the other way round (install python-etcd on top of a very old Glance, then update): no issues.

[2015-06-29 16:25] #646 closed

[2015-06-30 00:00] neiljerram commented on #15
Please let's be sure about whether there's actually any problem here, before we start proposing designs for fixing it.

I believe we have been running an FV test for ages that involves two networks, and I also believe that that test has beeen reliably passing.

If that's correct, I don't understand how, but perhaps Linux and/or dnsmasq are being cleverer than we're allowing for. It would surely be

[2015-06-30 00:08] neiljerram commented on #233
I favour:

- debugging (e.g. attaching GDB to) dnsmasq to check whether it's seeing the DHCPRELEASE, and if so why it doesn't fully process it

- subject to consistency with any debugging findings, modify the DHCP agent to call dhcp_release with the correct TAP interface instead of the ns-XXX interface.

[2015-06-30 00:10] neiljerram commented on #40
@fasaxc Agreed

[2015-06-30 08:27] fasaxc commented on #652
@Lukasa, does @neiljerram have the next action here: ask upstream if there's a template we can follow?

[2015-06-30 08:59] neiljerram commented on #652
@fasaxc Sorry - I actually got a steer on this yesterday.  Will paste that in here:

    On 29/06/15 14:08, Gal Sagie wrote:

I've looked at the patch that Gal pointed to, and it looks like it will indeed address our problem in a reasonable way.

Unfortunately the change was only merged _after_ the Kilo release
(2015.1.0).  Hence we would need to do some non-trivial backporting work
for Kilo, Juno

[2015-06-30 09:43] Lukasa commented on #652
So, the current expectation here is that we'll backport this work next sprint and then build on top of it.

[2015-06-30 09:48] fasaxc commented on #645
@DaveLangridge Looks like there are a couple of likely contenders on the system that shows this problem.  iptables-persistent is running but I believe that always runs before calico-felix.  There are also chains with prefix "nova-api-metadat-...", which are not present in `/etc/iptables/rules.v4` so those must be inserted by another component.

[2015-06-30 09:54] Lukasa commented on #645
nova-api-metadata is the culprit there. ;)

[2015-06-30 10:02] fasaxc commented on #645
Yep , just digging through its code.  It does an `iptables-save`, makes its changes in-memory and then does an `iptables-restore` with the whole lot.  That's vulnerable to a race with anything else that is modifying the table concurrently.

[2015-06-30 10:51] matthewdupre opened #705 "Felix should have a respawn limit on Ubuntu"
When Felix fails, we restart it, but on Ubuntu there's no limit to the number of times.  This is misleading, because `service calico-felix status` reports that everything is fine at first glance.

We do have a limit on Red Hat (systemd) - 5 restarts inside 10 seconds is the limit.  This sounds sensible for Ubuntu too (it's enough time for Felix to start doing some real work).

[2015-06-30 11:51] fasaxc commented on #705
I'm a bit wary of giving up when we're considering 100s of nodes.  That's a lot of operator intervention required to restart all those felixes once the problem is corrected.

Wish there was a more advanced algorithm here.  Upstart will give up completely after the 5 tries are up, I believe; it doesn't make 5 attempts every 10s.  Even if it had unlimited retries but rate-limited them, that would be

[2015-06-30 13:44] matthewdupre commented on #705
I'm not totally happy here either (also 2 seconds per failure isn't always long enough if Felix does a lot of startup work before crashing).

It is possible to be more sophisticated - http://serverfault.com/questions/472955/how-to-make-upstart-back-off-rather-than-give-up suggests using a Post-Stop script to restart it, or (and this isn't something we could ship) using a cron job.  It's a bit fidd

[2015-06-30 17:53] matthewdupre commented on #15
I can confirm that when you have 2 networks, you do see errors in syslog `2015-06-30T17:23:45.081111+00:00 calico18 dnsmasq[4685]: failed to create listening socket for fe80::261:feff:feed:cafe%tap8b23e0e2-1b: Address already in use`

But, the VMs all DHCP successfully (I tried 8, across 2 networks over 2 hosts), receiving both the correct IP address and the correct default gateway.  That should h

[2015-06-30 17:54] Lukasa commented on #15
So, *why* are they successfully DHCPing for both networks?

[2015-06-30 17:56] matthewdupre commented on #15
@lukasa - Is there something specific you're interested in checking while I have the system up?

[2015-06-30 17:58] Lukasa commented on #15
Yeah, lots:

- Are two dnsmasq processes running?
- Are two Neutron DHCP agents running?
    - If so, are they duplicating each other's information about DHCP leases?
        - If not, which dnsmasq is responding to each DHCP request? Random? Always the same?
            - If DHCP is magically going to the "right" dnsmasq, how is that happening? (This might be too big for you to do now).

[2015-06-30 17:59] matthewdupre commented on #15
OK, I've added numbers in the natural fashion:

1.  Yes, and it doesn't work if one of them isn't.
2.  No.

[2015-06-30 18:02] Lukasa commented on #15
Interesting. What version of OpenStack are you using?

[2015-06-30 18:04] matthewdupre commented on #15
Juno.

Here's a little log sample:
::
    2015-06-30T18:03:10.541755+00:00 calico19 dnsmasq-dhcp[32027]: DHCPDISCOVER(ns-c17bdac4-5c) fa:16:3e:29:3e:99 no address available
    2015-06-30T18:03:10.541771+00:00 calico19 dnsmasq-dhcp[32325]: DHCPDISCOVER(ns-88758acf-f5) fa:16:3e:29:3e:99
    2015-06-30T18:03:10.541779+00:00 calico19 dnsmasq-dhcp[32325]: DHCPOFFER(ns-88758acf-f5) 10.233.1.251 fa:16:3

[2015-06-30 18:05] matthewdupre commented on #15
If I had to jump to a conclusion, I'd say we don't need to listen on the taps at all, and the ns interfaces are enough on their own.

[2015-06-30 18:05] Lukasa commented on #15
Right.  I do think we should check this on Icehouse, because that's where we originally spotted the bug.

[2015-06-30 18:08] matthewdupre commented on #15
Perhaps, although I'm not clear on whether we've ever really seen it (when something else wasn't broken) - the report above suggests the system might have been broken anyway.

[2015-06-30 18:08] matthewdupre commented on #15
I'll think about doing an Icehouse / IPv6 test tomorrow.  That ought to cover all the bases.

[2015-06-30 20:23] neiljerram commented on #15
Agree that it looks like DISCOVER is going to both dnsmasqs. I guess what we're seeing here is the effect of SO_REUSEPORT https://lwn.net/Articles/542629/

Disagree that we don't need to listen on the TAPS. What is your thinking there @matthewdupre ?

Testing on Icehouse is of course a good idea, but - once again - I don't believe we've actually ever observed a problem attributable to this tentati

[2015-06-30 23:54] robbrockbank opened #707 "Felix failing to program routes in calico-docker"
This appears to be a regression with the latest release (0.26).  Running calico-docker on a multi-host test environment, I'm seeing no routes being programmed and the following cyclic logs in felix (assert in ip tables restore)

For a full bundle of diags follow the link below.  The diags bundle is available for 14 days, and contains etcd data dump (note that the diags bundle was from a different

[2015-07-01 06:08] Lukasa commented on #707
Seems like the ipset that's supposed to contain the IPs of all the hosts is missing. No idea how that happened though: @fasaxc?

[2015-07-01 07:48] fasaxc commented on #707
I'll take a look.

[2015-07-01 08:07] fasaxc commented on #707
Grr, I lost a call to ensure_exists() in the tidy up under 08ffd1efab45ffd0d36f9045cd7af913e12ab95f.

[2015-07-01 09:17] #707 closed

[2015-07-01 09:59] matthewdupre commented on #15
What I said wasn't intended to be any indication of what needs to happen - just a (very sketchy) guess at what might explain the logs (bind failures on the taps, and the ns-* interfaces appearing in the logs for the DISCOVERs themselves).  I've checked though, and you do need to pass --interface tap* for it to work, so I guess that's that.

I suppose the binding failures aren't critical then, whic

[2015-07-01 13:47] matthewdupre opened #709 "DHCP checksum fixing rule is too broad: in POSTROUTING chain, not OUTPUT"
This is a split from issue #40.

We currently use a rule that looks like `iptables -A POSTROUTING -t mangle -p udp --dport 68 -j CHECKSUM --checksum-fill`, but this is too broad.

We should make the rule more specific - @nbartos suggests `iptables -t mangle -A OUTPUT -o tap+ -p udp -m udp --dport 68 -j CHECKSUM --checksum-fill`.

The most important thing is moving from the POSTROUTING to OUTPUT ch

[2015-07-01 13:48] matthewdupre commented on #40
I've split #709 out from this to cover narrowing the rule down.  I'll backport the Kilo fix now and then close this one down.

[2015-07-01 16:21] matthewdupre commented on #645
Talked with @fasaxc - couple of options so far:
- upstream fix to nova-metadata-api
- don't run the nova-metadata-api on compute hosts - NAT metadata to the controller instead.

[2015-07-01 16:24] matthewdupre commented on #645
We can at least try the second.

[2015-07-02 06:38] DaveLangridge commented on #645
How about a defensive fix in felix? Checking config at intervals (like the plugin resynch). Then we'd recover from this, and any other cases where someone screwed up the iptables.

[2015-07-02 09:11] Lukasa commented on #276
It turns out we already do! The mechanism driver superclass has a list of supported vnic types which only includes normal, so the port binding is rejected. This is a no-op.

We should remember to be wary about the future where this might change, but for now we're fine.

[2015-07-02 09:11] #276 closed

[2015-07-02 13:29] matthewdupre commented on #40
Kilo neutron fix backported, will be released in 0.27.  Closing this one, although #709 will remain open.

[2015-07-02 13:29] #40 closed

[2015-07-02 13:31] matthewdupre commented on #645
@DaveLangridge we've already done that - see #687.

[2015-07-02 13:39] DaveLangridge commented on #645
So we have. I'm not sure if I care about any other fixes. We've only seen this on power cycle, an I suspect there will be all sorts of stuff hitting the fan at that time. Will anyone notice if it takes a bit longer to get up and running? Main concern before was we could get into this state and not recover.

[2015-07-02 14:20] matthewdupre commented on #645
We've discussed this a bit.  There are a few ways forward, but as @DaveLangridge says we've already made a partial fix for this that might be good enough.

1. Don't run nova-api-metadata.  Doesn't help us if other people/processes modify IPTables badly, doesn't play properly with combined controllers + computes (where nova-api does the same, and we can't not run that) and increases load on control

[2015-07-06 08:35] #325 closed

[2015-07-06 12:48] Lukasa commented on #190
Alright, this isn't as simple as it looks, so I think we won't do it.

Firstly, we can't do it on systems using upstart. This is because upstart doesn't understand capabilities, so we have to `setcap` the `calico-felix` executable before execution. The eagle-eyed will notice that this doesn't actually work because `calico-felix` isn't the relevant executable, *python* is. We obviously don't want t

[2015-07-06 12:48] #190 closed

[2015-07-06 13:08] fasaxc commented on #645
Pushing this out to 0.28.  I think we understand what's going on now but we haven't even started a fix.

[2015-07-06 14:09] fasaxc commented on #458
@neiljerram For context: "No more machines in cluster" is a poor error message from python-etcd.  It happens when python-etcd's retry code gets invoked, which tries the request against a different node in the cluster and then it runs out of nodes to try.  The original cause of the retry (usually a connection failure or timeout) is the more interesting thing but that is lost because the retry code

[2015-07-06 14:09] fasaxc commented on #458
I don't think this made it into 0.27.

[2015-07-06 14:42] alexwlchan commented on #458
I have also been seeing the "No more machines in cluster" exception when the etcd disk is full. We can definitely provide a more useful message than that.

(Scale testing, with a single node in the etcd cluster. I stuffed it full of endpoints until it ran out of space, and then this exception bubbled up.)

[2015-07-07 17:05] fasaxc opened #716 "Multiple DHCPv6 servers can get same DUID"
Seen in the FV tests.
* We effectively bridge the DHCP agents together so that any of them can respond to any endpoint.
* If there are multiple networks, we have multiple DHCP agents.
* If two DHCP agents come up within a second of each other, they both assign the same server DUID.
* This appears to confuse the clients, which, I presume, rely on the server DUID to disambiguate.

[2015-07-07 17:13] fasaxc commented on #716
Maybe it's more tricky than that.  I think it may calculate the DUID on demand.  Since they're bridged, both servers will see the same packet and pick the same DUID.

[2015-07-08 08:35] Lukasa commented on #652
New plan.

Given that this change is going to be in Liberty we're going to do the following:

1. When Liberty drops, update the mechanism driver to use the proper interface where it is available.
2. Assume that the odds of the Neutron team breaking the interface we monkeypatched *midcycle* in Icehouse, Juno, or Kilo is really low, and that we can detect it early.
3. As a result, not bother to back

[2015-07-08 09:04] neiljerram commented on #652
Sounds good to me

[2015-07-08 09:55] Lukasa opened #717 "One gateway for multiple IPv6 addresses"
Per the data model, an endpoint has the following possible data in it:

[code]

The problem is, that doesn't work. OpenStack will quite happily let you assign multiple addresses to an endpoint that are in subnets with different gateways, and it doesn't appear that there's anything wrong with that. Of course, if you do that the VM will break because we won't set up proxy NDP properly, and everythin

[2015-07-08 15:42] Brook-Roberts opened #718 "Logging for felix unclear if vm has no security groups attached."
If a vm has no security groups associated with it, then felix does not add it and deletes the chain associated with it, giving the below log.  Rather than just saying the Endpoint is unready, it would be more helpful if it explained why it was unready i.e. no profile_ids / no security group ids are associated with this vm.

2015-07-08 16:04:39,468 [INFO][21479/227] calico.felix.endpoint 337: Endpo

[2015-07-08 16:01] spikecurtis commented on #717
@Lukasa Can you be more specific about "the VM will break"?

Also, your view of the data model isn't quite right.  The `ipv6_nets` is not a "list of subnets" that the endpoint _belongs to_, it's a list of _network prefixes_ describing the addresses of the endpoint.  I.e. Felix should insert a route into the host routing table for every one of those nets pointing to the tap/veth for that endpoint.

[2015-07-08 16:21] Lukasa commented on #717
You can see the relevant code pretty easily. [This](https://github.com/Metaswitch/calico/blob/cbb92d2be88dc026ba6efcb4a238d949a02c1eea/calico/felix/endpoint.py#L383-L384) is the only place in the code that touches the `ipv6_gateway` field in the data model, which will then use it for [this](https://github.com/Metaswitch/calico/blob/cbb92d2be88dc026ba6efcb4a238d949a02c1eea/calico/felix/devices.py#L

[2015-07-08 16:22] fasaxc commented on #718
To be clear, the end result is that packets to the VM are dropped, which is exactly what we want.  The issue is that it's hard to tell why.

[2015-07-08 16:35] spikecurtis commented on #717
@Lukasa I added that code specifically for `calico-docker`, which doesn't use DHCP at all.  It simply tells the host to proxy the gateway IP address over NDP on that link.  So, if the guest needs to re-resolve the gateway's MAC address, it can.

This wasn't required in the OpenStack case because the DHCP server periodically transmits Router Advertisements to the guest, allowing the guest to keep i

[2015-07-08 16:38] Lukasa commented on #717
@spikecurtis The specific concern is just that we may want to allocate multiple addresses to endpoints, and that those addresses may logically have different gateway IP addresses. This is allowable in OpenStack, and so is something we need to support there. If we don't need the Proxy NDP side of things, and you don't think this is a use-case we need to support in calico-docker, then we can leave i

[2015-07-08 16:53] Lukasa commented on #717
Ok, I'm convinced the bug in this form doesn't exist. =)

[2015-07-08 16:53] #717 closed

[2015-07-10 16:32] fasaxc opened #719 "etcd is single-threaded by default"
Found during high-scale testing.  The master etcd node became a bottleneck as I ramped up the testing on a relatively small VM.  Turns out that etcd doesn't use mutliple cores by default (it simply obeys the `GOMAXPROCS` environment variable, which defaults to 1).

We should update the instructions/install to recommend/apply setting that value to an appropriate number for the number of cores.

[2015-07-13 08:07] #716 closed

[2015-07-13 10:16] Lukasa opened #720 "Mock has finally broken Python 2.6"
We need to adjust our testing dependencies because mock no longer works on Python 2.6.

[2015-07-13 12:11] Lukasa opened #721 "Log out more helpful error than "No more machines in cluster""
Occasionally we get a very unhelpful error log, as @fasaxc describes in #458:

@alexwlchan has also seen it:

We should aim to log out a more useful error than this.

[2015-07-13 12:12] Lukasa commented on #458
Ok, I think there's only one actual high-priority issue in here, which is the 'no more machines in cluster' error. I'm going to track that separately in #721, and otherwise I think we have nothing else to do here.

[2015-07-13 12:12] #458 closed

[2015-07-13 17:06] #720 closed

[2015-07-14 00:48] spikecurtis opened #723 "Communication with host filtered, even if the profile is allow all."
Seen on v0.26

Set up two endpoints (containers), both part of a single profile with allow all in both inbound and outbound rules.  Host can successfully ping each container, containers can successfully ping each other, but containers cannot ping the host.

iptables-save here: https://gist.github.com/spikecurtis/e3131fd5650ff7097232

[2015-07-14 07:03] Lukasa commented on #723
IMO this is working as designed, with the change being introduced in #636 (and refined a few times afterward).

Generally speaking the endpoint is not the only machine that should control where its packets go, and generally hosts will want to remove as much of their connection surface as possible when contacted by VMs. We are probably missing some function to allow certain host ports and traffic b

[2015-07-14 09:36] fasaxc commented on #723
Yep, as Cory said, there's a config option to control what happens to unmatched host-bound packets and we set it to DROP by default.  Not obvious what the default should be but DROP feels safer so we went with that.

FTR, the config option is DefaultEndpointToHostAction and you can set it to "RETURN" "DROP" or "ACCEPT".  Looks like I forgot to add that to the docs.  With me:

[ ] Add to DefaultEnd

[2015-07-14 16:13] spikecurtis commented on #723
@Lukasa Allowing the endpoint to ping but not UDP or TCP to the host is just going to be more confusing than just blocking everything.

[2015-07-14 16:38] spikecurtis opened #724 "iptables-restore fails. "Set felix-calico-hosts-4 doesn't exist.""
Setup is a single host with two containers, and one profile with allow all in and out.  Running on Felix 0.26.

Gist here: https://gist.github.com/spikecurtis/c33af8fa088e495185f8

Full diags:
https://transfer.sh/yXXAf/diags-140715-093309.tar.gz

[2015-07-14 17:15] spikecurtis opened #725 "Felix doesn't immediately apply config changes to etcd"
Modifying configuration settings in the `/calico/vX/host/<host>/config/` directory doesn't trigger Felix to react to the change.  You have to manually bounce the Felix process.

Felix should immediately apply config changes made to etcd.

[2015-07-14 18:52] fasaxc commented on #725
@spikecurtis It'd be nice to have but the steer I was getting a while back was that it wasn't MVP.  We could fairly easily do something blunt such as getting felix to restart if it detects a config change.  Risk is that all your felixes end up in a restart loop if something goes wrong.

Any particular use-case you had in mind?  Tuning logging on the fly is what I'd really like.

[2015-07-14 18:56] fasaxc commented on #724
Dupe of #707?

[2015-07-14 18:57] fasaxc commented on #724
Please retest with 0.27, which contains the fix for #707.

[2015-07-14 20:15] #723 closed

[2015-07-14 20:34] spikecurtis commented on #725
My view is that this is a manageability issue.

Administrators are going to want to fiddle with all the little Felix options and it's going to drive people nuts that you have to restart to pick up config changes.  It's an extremely common complaint to support for other products I've worked on.

I think everyone has learned to live with the idea that processes don't pick up changes to config files

[2015-07-15 15:09] fasaxc commented on #645
Work in progress on https://github.com/Metaswitch/calico/tree/smc-ipt-refresh

[2015-07-15 22:16] spikecurtis commented on #724
Works on 0.27.  Closing.

[2015-07-15 22:16] #724 closed

[2015-07-16 08:01] Lukasa commented on #571
The fix for this is now merged.

[2015-07-16 08:01] #571 closed

[2015-07-16 11:38] plwhite commented on #645
OK, so I would prefer that Felix does not need to know the state of all iptables chains. I think there are several options.

Let's dump the option of Felix could just doing a total resync much more frequently. This is probably too expensive in terms of CPU and hit on etcd.

1. Felix could remember its iptables state, and apply it periodically. Thus every 30 seconds or so it could go check that thi

[2015-07-16 13:38] plwhite commented on #645
We've agreed pragmatically to do 1 and 2 - but with 2 following later.

[2015-07-16 14:47] fasaxc commented on #725
Some design thoughts on this:

* Logging and the like are easy to make dynamic.
* Some things are not straightforward:
  * the interface prefix is assumed to be static, we program it once and then never touch it again.
  * various timers that are configurable, such as the periodic resync timer, can't easily be changed because we abort the resync loop if resync is disabled.
  * etcd address awkward

[2015-07-16 20:16] spikecurtis commented on #725
From a requirements standpoint, I'd say

 - it MUST happen automatically with no extra kick from the user
 - it MUST be clear from the logs what is happening (e.g. if restarting because of a config change, rather than for some other reason)
 - it SHOULD minimize disruption as much as possible

The actual implementations of different kinds of changes are going to have trade offs in terms of code co

[2015-07-22 23:15] spikecurtis commented on #725
@fasaxc there's a specific use case for this that we're now running up against: IP-in-IP support.

We'd like to allow users to turn this on with a `calicoctl` command.  But that doesn't work because it currently requires restarting every Felix in the cluster manually.

[2015-07-23 07:45] fasaxc commented on #725
@spikecurtis Pull requests welcome :-P

Seriously though, what's your timescale?  I don't think we can fit it in this week but we can probably do it next sprint.

[2015-07-23 08:58] fasaxc commented on #12
Since I fixed the iptables config to allow them, I've definitely seen RS packets go through as soon as the VM comes up.  I'm just going to close this unless we see it again.

[2015-07-23 08:58] #12 closed

[2015-07-23 09:01] fasaxc commented on #43
I believe `--dhcp-authoritative` is incorrect for Calico.  When we have multiple networks configured, we currently bridge together the DHCP agents (or, more precisely, tell them to behave as if they are bridged).  This means that they are not authoritative.

[2015-07-23 09:29] neiljerram commented on #12
What we should then do, though, is:

- modify our test IPv6 image so that it no longer has configuration for a 30s delay before sending its first Router Solicit

- verify that all our tests still pass

- remove our doc that tells people to put that configuration into their IPv6 image.

[2015-07-23 17:38] spikecurtis commented on #725
Next sprint would be grand.

[2015-07-30 16:20] kriss9 commented on #723
For now, this did the trick --
# for x in `etcdctl ls /calico/v1/host/ | cut -d/ -f5`; do etcdctl set /calico/v1/host/$x/config/DefaultEndpointToHostAction RETURN; done

[2015-07-31 09:55] fasaxc opened #750 "Race between config loading and loading initial dump"
Felix loads its config from etcd, then it loads the initial dump of endpoints and profiles.  There's a race if the config changes after it is loaded but before we load the initial dump.  If that happened, we'd miss the config change and carry on with the old config.

Possible fixes:
- load the config as part of the initial dump in one atomic pass.
- re-check the etcd_index of the config keys after

[2015-08-03 11:28] eepyaich commented on #725
I believe we now have a solution for this under #749.  Presumably this issue can be closed @fasaxc @spikecurtis ?

[2015-08-03 11:29] eepyaich commented on #721
Can this issue be closed now, following #458?  @Lukasa @fasaxc?

[2015-08-03 11:31] eepyaich commented on #645
@plwhite @fasaxc Have we done the first thing here?  Can we close this issue and have a separate one to track any long term follow up?

[2015-08-03 11:33] eepyaich commented on #233
@neiljerram @fasaxc What's the status here?  Should we be worrying about this in the 1.0 timeframe?

[2015-08-03 16:22] eepyaich commented on #569
From the perspective of the Calico solution having graceful restart, I think we need to address this now, i.e. work out what we need to change in the BIRD config, test it and document it.

Assigning to @matthewdupre as he looked at this most recently.

[2015-08-03 16:25] eepyaich commented on #188
Boiling this down to the customer perspective, it sounds like there is a window condition where live migration will fail (i.e. if the definition of "live" is that my SSH session didn't drop). @fasaxc @DaveLangridge is this a reasonable summary?

[2015-08-03 17:53] spikecurtis commented on #725
Works for me.

[2015-08-03 17:53] #725 closed

[2015-08-03 18:14] Lukasa commented on #721
No, this issue was opened as the more specific version of #458 in order to close #458. This still needs fixing.

[2015-08-04 06:46] DaveLangridge commented on #188
Yes. The migration works, but the SSH sometimes drops and you need to reconnect.

[2015-08-04 10:56] plwhite opened #754 "When setting up tunnel for IP in IP, Felix should set configurable MTU"
See https://github.com/Metaswitch/calico-docker/issues/415 for details of the problem.

[2015-08-04 15:31] fasaxc commented on #754
I can take a look at this

[2015-08-04 15:54] #705 closed

[2015-08-04 16:12] Symmetric opened #756 "calico IP-in-IP tunnel device uses incorrect MTU in GCE"
Copied over from calico-docker (https://github.com/Metaswitch/calico-docker/issues/415)

The tunl0 device uses MTU 1480 unconditionally. In GCE, the network MTU is 1460, so the correct MTU for the tunl0 device is 1440 in this environment.

With the incorrect value of 1480, packets are dropped after encapsulation, but before being transmitted on the VM's external interface. One might expect the ker

[2015-08-05 15:07] #754 closed

[2015-08-10 13:12] lwr20 opened #759 "dnsmasq not restarted when upgrading on RHEL7"
I have a RHEL 7 system running openstack Kilo with calico.  I can create VMs and everything is happy.

I update everything with "yum update".  Following this, VMs are no longer able to DHCP.

@matthewdupre took a look and said: "It looks like something very strange has happened to dnsmasq's process.  In particular, /proc/<dnsmasq PID>/exe looks like this: lrwxrwxrwx. 1 root root 0 Jun 3 16:42 exe

[2015-08-10 13:36] matthewdupre commented on #759
Workaround: `pkill dnsmasq` after any update to the dnsmasq packages.

A few notes:

- Probably not RHEL7 specific.
- Perhaps worth an upstream fix to rootwrap?
- Tricky to resolve without resorting to docs fixes (i.e. do the workaround), because dnsmasq doesn't run itself (DHCP agent runs it), so it can't really restart itself when it's yum updated (or probably apt-get upgraded).

[2015-08-11 17:57] matthewdupre commented on #759
I've added a note to the upgrade procedure to warn people to kill dnsmasq if it gets upgraded.  For now I'm going to close this, but we should consider enhancing oslo-rootwrap to deal with this silently - @neiljerram can you take an action to consider this please?

[2015-08-11 17:57] #759 closed

[2015-08-14 10:34] eepyaich opened #766 "Unnecessary IPv6 RS delay listed in our documentation"
http://docs.projectcalico.org/en/latest/ipv6.html currently adds some configuration to add a 10s router solicitation delay.  This was added due to #12.  We should remove this additional configuration note, but first we should explicitly test without it.

[2015-08-14 10:35] eepyaich commented on #766
@lwr20 Could you test IPv6 without this piece of RS delay configuration, at some point, please?

[2015-08-14 13:15] matthewdupre commented on #569
Fixed in #764.

[2015-08-14 13:15] #569 closed

[2015-08-18 09:02] fasaxc commented on #756
Fixed by #755

[2015-08-18 09:02] #756 closed

[2015-08-18 11:15] fasaxc opened #768 "Felix dies if ipset gets too big"
An ipset can hold many entries (maybe ~65k, by default) but we don't put a limit on how many entries we'll try to put in one.  If the the ipset restore call fails due to the number of entries being exceeded then felix dies with

[code]

I'm not sure if the limit can be raised (so that we can dynamically choose to increase it once we're getting close) or if it's a hard limit (in which case we shoul

[2015-08-18 11:20] fasaxc opened #769 "FailedSystemCall logs entire input even if it's huge"
When #768 was hit, I found that the log output included the whole input to the ipset restore command, which was several MB.  It wrapped a couple of logs just to hold that output.  I think we have to truncate that output.  Ideally, we'd get the first and last few lines with ellipses in-between.

[2015-08-18 15:45] DaveLangridge opened #770 "calico-diags doesn't collect stuff in /var/log/neutron"
When running the script I got:
...
  copying log files...
cp: cannot stat ‘/var/log/calico’: No such file or directory
cp: cannot copy a directory, ‘/var/log/neutron’, into itself, ‘./neutron’
  compressing...
...

I stored the diags here:
https://transfer.sh/RKowM/controller-diags.tar.xz

and if I unpack this I get:
ubuntu@calico20:/dl$ tar -xvf cont.tar.xz
2015-08-18_14-56-06/
2015-08-18_14-56-0

[2015-08-18 17:06] fasaxc opened #771 "Bad tag data can trigger assert in snapshot processing"
Due to some manual messing around with etcd, I got a profile tags value equal to `[null,"FOO"]`.  When felix read that as part of applying a snapshot, it hit assert

[code]

I believe the validation logic correctly spotted that the tags were bad and swapped them out for `None` but we weren't expecting `None` when applying a snapshot because it would mean a deletion, which can't really be part of a

[2015-08-19 12:00] flashvoid opened #772 "t_etcd uses wrong import for oslo_config"
Hi

I tried to install devstack plugin and it failed with
[code]

Fixed by replacing "from oslo.config" to "from oslo_config".

[2015-08-19 12:46] Lukasa commented on #772
@flashvoid Hmm. Last I checked, oslo.config is where the package should go if the package has been installed, rather than being used directly from GitHub. @neiljerram did you ever bump into this with your devstack usage?

[2015-08-19 13:08] neiljerram commented on #772
No, I haven't seen this myself yet.  But there has been a general oslo naming change in the pipeline, and I can believe that it is biting now.

@Lukasa, @flashvoid  So that we keep working with older OpenStack releases too, would the following work?

    try:
        from oslo.config import cfg
    except ImportError:
        from oslo_config import cfg

[2015-08-19 14:03] Lukasa commented on #772
That would be fine by me.

[2015-08-19 14:17] alexwlchan commented on #772
We only have one other oslo import: oslo_log (in t_etcd and mech_calico). We already seem to have covered the name change for that module:

[code]

So I think this is the only oslo rename that will affect us.

[2015-08-19 14:22] #772 closed

[2015-08-19 15:01] DaveLangridge opened #775 "Dodgy looking election logs from plugin"
Running on a deployment with 1 ha proxy, 10 control an 500 computes. 10,000 VMs up, and churn running, doing a create + delete every 2s. These are spread across 500 security groups. I was also running a script to add an SG dependent rule to each sg, so a fairly extreme test.

In server.log (I did collect diags, but they don't contain server.log!):
[code]

[2015-08-21 16:43] Brook-Roberts opened #777 "Filtering on IP protocol 0 causes all rules to be silently rejected"
Adding a security group rule in Openstack, through Horizon, that filters on IP protocol 0, causes all other rules in that security group to stop taking affect.

I believe it's expected that we can't implement this rule, however:
a) The user isn't informed that their rule wasn't allowed, so if they intended to put in a different rule (e.g. allowing a different protocol) it won't be obvious that the

[2015-08-25 18:22] jfarrell opened #782 "etcd should not be a hard requirement, interface should be pluggable"
If Zookeeper or Consul are all ready in use with in a given stack then Calico should be able to take advantage of the existing running infrastructure rather than requiring etcd to be added to the stack

[2015-08-26 10:13] plwhite opened #784 "Felix could be smarter with its RTNETLINK parsing"
Felix detects interfaces coming up using the netlink interface. It doesn't parse every flag in the message, but instead just tries to program the interface and route every time anything changes.

We could optimise this by being smarter and only programming interfaces when they are in a state for that to be worthwhile. We have to be a little careful, since if an interface flaps (as we have seen on

[2015-08-26 10:20] plwhite commented on #784
I'm increasing the priority of this. It appears that this takes Felix from "happily handles 150 creates per second at 50% CPU" to "cannot handle 150 creates per second". Hence I think we should definitely spend a day or so fixing this.

[2015-08-27 09:16] plwhite opened #786 "ipset code could be smarter"
Some rough testing shows that :

- flushing and creating either a 1k or a 10k entry ipset takes around 20-30ms CPU time (double that real time)
- adding up to 100 new entries to a 10k entry ipset takes around 1-2ms (about 3ms real time)

That implies that the code in ipset updater that flushes and recreates the ipset to get it to the correct state should only apply deltas, and that the change is b

[2015-08-27 09:20] plwhite commented on #768
Each ipset has a maximum size specified when it is created (default 64K on the box I was running on). We can easily enough notice when we are about to exceed this value and rather than exploding increase it. You can't actually increase it dynamically, but you can create a new ipset with a different maximum size then do an atomic swap.

[2015-09-01 16:13] neiljerram commented on #784
Observations so far...

For an individual VM being launched, I see 7 RTM_NEWLINK messages for its TAP interface, with the following IFF flags.

- 1002 - not UP, not RUNNING
- 1002 - same again
- 1003 - UP, not RUNNING
- 11043 - UP, RUNNING, + whatever 10000 means
- 11043 - again
- 11043 - again
- 11043 - again

For reference, the individual flag values, that are relevant here, are:

- 1 - UP
- 2 -